In [77]:
print("Hello world")
print('Hello world')

Hello world
Hello world

In [78]:
#variable declaration
a=15;
a_1=4;
_a=5;
#1a=6; #invalid syntax
print(a,a_1,a)
A=12
print(A)

15 4 15
12

In [79]:
#addition
a=10
b=20
a+b
a-b
a*b
a/b#it prints only last line we need to keep print

0.5

In [80]:
#addition
a=10
b=20
print(a+b) 
sum1=a+b
print(sum1)
print(a-b)
print(a*b)

30
30
-10
200

In [ ]:
#comments
#-single line
"""
Multiple line comments
"""
#another way
'''
Multi line comments
'''

In [81]:
a=5
print(type(a))
a=2.0
print(type(a))
a='hello'
print(a)
print(type(a))

<class 'int'>
<class 'float'>
hello
<class 'str'>

In [82]:
type(a)

str

In [ ]:
a=2
b=3.2
c=4+5j
print(a,b,c)
print(type(c))

In [83]:
#address -id()
#different address
a=5
print(id(a))
a=a+1
print(id(a))

2960075811248
2960075811280

In [84]:
a=5
b=5
print(id(a))
print(id(b))
#same address because of same value 
#optimization -5 to 256
#if two varibale storing same value having same address

2960075811248
2960075811248

In [85]:
#limit of integer
#no limit
a=100000000000000000000000000000000000000000000000
print(a)
print(type(a))

100000000000000000000000000000000000000000000000
<class 'int'>

In [86]:
#arthimetic operator
print(3+5)
print(3/5)#floating point divison
print(3%5)
print(3*5)
print(3**5)#Exponenation
print(3^5)
print(3//5)#integer divison

8
0.6
3
15
243
6
0

In [87]:
#operator precidence
#bodmas or pedmas rule
print(5*2/4)
print(4+2*4)

2.5
12

In [88]:
#simpleinterest to lowest integer
p=100
r=12
t=2
si=(p*r*t)//100
print(si)

24

In [89]:
#fah to celsius scale
f=100
c=(f-32)*5//9
print(c)

37

In [90]:
#taking inputs from user
a=int(input())
b=int(input())
print(a+b)
c=input()
print(c)

5
6
11
3
3

In [91]:
a=input()
b=input()
print(a+b)
#concation

1
2
12

In [93]:
a=int(input())
b=int(input())
c=int(input())
print((a+b+c)/3)

1
2
3
2.0

In [94]:
#Find X raised to power N
a=int(input())
b=int(input())
print(b**a)

5
2
32

In [95]:
"""
Rectangular Area
Send Feedback
You are given a rectangle in a plane. The corner coordinates of this rectangle is provided to you. You have to print the amount of area of the plane covered by this rectangles.
The end coordinates are provided as four integral values: x1, y1, x2, y2. It is given that x1 < x2 and y1 < y2.
Input format:
The first line of input contains an integer x1 (1 <= x1 <= 10)
The second line of input contains an integer y1 (1 <= y1 <= 10) 
The third line of input contains an integer x2 (1 <= x2 <= 10)
The fourth line of input contains an integer y2 (1 <= y2 <= 10) 
Constraints:
Time Limit: 1 second
Output format:
The first and only line of output contains the result.  
Sample Input:
1
1
3
3
Sample Output:
4
"""
x1=int(input())
y1=int(input())
x2=int(input())
y2=int(input())
print((x2-x1)*(y2-y1))

1
1
3
3
4

In [96]:
"""
Arithmetic Progression
Send Feedback
You are given first three entries of an arithmetic progression. You have to calculate the common difference and print it.
Input format:
The first line of input contains an integer a (1 <= a <= 100)
The second line of input contains an integer b (1 <= b <= 100) 
The third line of input contains an integer c (1 <= c <= 100) 
Constraints:
Time Limit: 1 second
Output format:
The first and only line of output contains the result.  
Sample Input:
1
3
5
Sample Output:
2
"""
a=int(input())
b=int(input())
c=int(input())
print(c-b)

1
3
5
2

In [97]:
#Boolean-checking conditions like if(a>b)
#relational opertors
# >,<,>=,<=,==,!=
"""
True
False
"""
a=True
print(type(a))
a=5
b=6
print(int(a>b))
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(a==b)
print(a!=b)

<class 'bool'>
0
False
True
False
True
False
True

### logical operators

In [98]:
# AND OR NOT

a=10
b=20
c1=a>10
c2=b>10
#both c1 and c2 are true
print(c1)
print(c2)
print(c1 and c2)
print(c1 or c2)
print(not(c1))

False
True
False
True
True

### IF ELSE

In [99]:
a=True
if a:
    print("Iam inside if")
else:
    print("Iam inside else")
a=False
if a:
    print("Iam inside if")
else:
    print("Iam inside else")

Iam inside if
Iam inside else

In [100]:
#check number is even or odd
n=int(input())
if(n%2==0):
    print("Even")
else:
    print("Odd")

2
Even

In [101]:
a=int(input())
b=int(input())
if(a>10 and b>10):
    print("Yes")
else:
    print("No")
#method-2
if(a>10):
    if(b>10):
        print("Yes")
    else:
        print("No")
else:
    print("No")

10
20
No
No

### ELSEIF

In [102]:
a=int(input())
b=int(input())
c=int(input())
if(a>=b and a>=c):
    print("A is large")
elif(b>=a and b>=c):
    print("B is Large")
elif(c>=a and c>=b):
    print("C is large")

10
12
11
B is Large

In [103]:
a=int(input())
if(a>10):
    print("Red")
elif(a>=5 and a<=10):
    print("Green")
elif(a>0 and a<5):
    print("Yellow")
else:
    print("Dont do any thing")
#reducingcomplixity
a=int(input())
if(a>10):
    print("Red")
elif(a>=5):
    print("Green")
elif(a>0):
    print("Yellow")
else:
    print("Dont do any thing")

15
Red
5
Green

### Nested if

In [104]:
n=int(input())
if n%2==0:
    print("N is even")
    if n==0:
        print("N is zero")
else:
    print("N is odd")

2
N is even

In [105]:
m=int(input())
n=int(input())
if n%2==0:
    if(m%2==0):
        print("1")
    else:
        print("2")
else:
    print(3)

2
4
1

In [106]:
i=1 
while(i<=50):
    print(i,end=" ")
    i=i+1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50

In [107]:
#prime number
a=int(input())
i=2
flag=1;
while(i<a):
    if(a%i==0):
        flag=0
        break
    i=i+1
if(flag==1):
    print("prime")
else:
    print("Not prime")

5
prime

In [108]:
#prime number second method
n=int(input())
i=1
count=0
while(i<=n):
    if(n%i==0):
        count=count+1
    i=i+1
if(count==2):
    print("Prime")
else:
    print("Not prime")

7
Prime

In [109]:
#display prime numbers with in given range of numbers
s=int(input())
r=int(input())
while(s<=r):
    i=2
    flag=0
    while(i<s):
        if(s%i==0):
            flag=1
            break
        i=i+1
    if(flag==0):
        print("prime number is",s)
    """
    else:
        print("Not prime is",s)
    """
    s=s+1

5
40
prime number is 5
prime number is 7
prime number is 11
prime number is 13
prime number is 17
prime number is 19
prime number is 23
prime number is 29
prime number is 31
prime number is 37

In [ ]:
"""
Fahrenheit to Celsius
Send Feedback
Given three values - Start Fahrenheit Value (S), End Fahrenheit value (E) and Step Size (W), you need to convert all Fahrenheit values from Start to End at the gap of W, into their corresponding Celsius values and print the table.
Input Format :
3 integers - S, E and W respectively 
Output Format :
Fahrenheit to Celsius conversion table. One line for every Fahrenheit and corresponding Celsius value. On Fahrenheit value and its corresponding Celsius value should be separate by tab ("\t")
Constraints :
0 <= S <= 80
S <= E <=  900
0 <= W <= 40 
Sample Input 1:
0 	
100 
20
Sample Output 1:
0   -17
20  -6
40  4
60  15
80  26
100 37
Sample Input 2:
20
119
13
Sample Output 2:
20  -6
33  0 
46  7
59  15
72  22
85  29
98  36
111 43
"""
s=int(input())
e=int(input())
w=int(input())
while(s<=e):
    f=s
    c=int((f-32)*5/9)
    print(f,c)
    s=s+w

In [110]:
"""
Sum of Even Numbers
Send Feedback
Given a number N, print sum of all even numbers from 1 to N.
Input Format :
Integer N
Output Format :
Required Sum 
Sample Input 1 :
 6
Sample Output 1 :
12

"""
N=int(input())
i=2
sum1=0
while(i<=N):
    sum1=sum1+i
    i=i+2
print(sum1)

6
12

In [ ]:
"""
Write a program that performs the tasks of a simple calculator. The program should first take an integer as input and then based on that integer perform the task as given below.
1. If the input is 1, then 2 integers are taken from the user and their sum is printed.
2. If the input is 2, then 2 integers are taken from the user and their difference(1st number - 2nd number) is printed.
3. If the input is 3, then 2 integers are taken from the user and their product is printed.
4. If the input is 4, then 2 integers are taken from the user and the quotient obtained (on dividing 1st number by 2nd number) is printed.
5. If the input is 5, then 2 integers are taken from the user and their remainder(1st number mod 2nd number) is printed.
6. If the input is 6, then the program exits.
7. For any other input, then print "Invalid Operation".
Note: Each answer in next line.
Input format:
Take integers as input, in accordance to the description of the question. 
Constraints:
Time Limit: 1 second
Output format:
The output lines must be as prescribed in the description of the question.
Sample Input:
3
1
2
4
4
2
1
3
2
7
6
Sample Output:
2
2
5
Invalid Operation

"""

flag=True
while(flag):
    N=int(input())
    if(N==1):
        a=int(input())
        b=int(input())
        print(a+b)
    elif(N==2):
        a=int(input())
        b=int(input())
        print(a-b)
    elif(N==3):
        a=int(input())
        b=int(input())
        print(a*b)
    elif(N==4):
        a=int(input())
        b=int(input())
        print(a//b)
    elif(N==5):
        a=int(input())
        b=int(input())
        print(a%b)
    elif(N==6):
        flag=False
        exit
    else:
        print("Invalid option")

In [111]:
"""
Reverse of a number
Send Feedback
Write a program to generate the reverse of a given number N. Print the corresponding reverse number.
Note : If a number has trailing zeros, then its reverse will not include them. For e.g., reverse of 10400 will be 401 instead of 00401.

Input format :
Integer N
Output format :
Corresponding reverse number
Constraints:
0 <= N < 10^8
Sample Input 1 :
1234
Sample Output 1 :
4321
Sample Input 2 :
1980
Sample Output 2 :
891
"""
N=int(input())
rev=0
while(N!=0):
    R=N%10
    rev=rev*10+R
    N=N//10
print(rev)

1234
4321

In [114]:
N=int(input())
s=N
rev=0
while(N!=0):
    R=N%10
    rev=rev*10+R
    N=N//10
if(rev==s):
    print("Palindrome")
else:
    print("Not palindrome")

1234321
Palindrome

In [115]:
"""
Write a program to input an integer N and print the sum of all its even digits and sum of all its odd digits separately.
Digits mean numbers, not the places! That is, if the given integer is "13245", even digits are 2 & 4 and odd digits are 1, 3 & 5.
Input format :
 Integer N
Output format :
Sum_of_Even_Digits Sum_of_Odd_Digits
(Print first even sum and then odd sum separated by space)
Constraints
0 <= N <= 10^8
Sample Input 1:
1234
Sample Output 1:
6 4
Sample Input 2:
552245
Sample Output 2:
8 15
Explanation for Input 2:
For the given input, the even digits are 2, 2 and 4 and if we take the sum of these digits it will come out to be 8(2 + 2 + 4) and similarly, if we look at the odd digits, they are, 5, 5 and 5 which makes a sum of 15(5 + 5 + 5). Hence the answer would be, 8(evenSum) <single space> 15(oddSum)
"""
n=int(input())
evens=0
odds=0
while(n!=0):
    r=n%10
    if(r%2==0):
        evens=evens+r
    else:
        odds=odds+r
    n=n//10
print(evens,end=" ")
print(odds)

1234
6 4

In [ ]:
"""
Nth Fibonacci number
Send Feedback
Nth term of fibonacci series F(n) is calculated using following formula -
    F(n) = F(n-1) + F(n-2), 
    Where, F(1) = F(2) = 1
Provided N you have to find out the Nth Fibonacci Number.
Input Format :
Integer n
Output Format :
Nth Fibonacci term i.e. F(n)
Constraints:
1 <= n <= 25
Sample Input 1:
4
Sample Output 2:
3 
Sample Input 1:
6
Sample Output 2:
8
"""
#0 1 1 2 3 5 8
n=int(input())
if n==0:
    print(0)
else:
    first=0
    second=1
    temp=1
    i=2
    while(i<=n):
        new=first+second
        first=second
        second=new
        temp=new
        i=i+1
    print(temp)

In [117]:
n=int(input())
a=0
b=1
for i in range(n):
    c=a+b
    b=a
    a=c
print(a)

6
8

In [118]:
a=0+0j
print(bool(a))

False

### patterns

In [ ]:
"""
1)how many rows
2)how many columns to print for ith row
3)what to print(*)
"""

In [119]:
n=4
i=0
while(i<n):
    j=0
    while(j<n):
        print("*",end=" ")
        j=j+1
    print()
    i=i+1

* * * *
* * * *
* * * *
* * * *

In [120]:
n=5
i=0
while(i<n):
    j=0
    while(j<i):
        print("*",end=" ")
        j=j+1
    print()
    i=i+1

*
* *
* * *
* * * *

In [121]:
n=4
i=0
while(i<n):
    j=1
    while(j<=n):
        print(j,end=" ")
        j=j+1
    print()
    i=i+1

1 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4

In [122]:
n=int(input())
i=1
while(i<=n):
    j=1
    while(j<=n):
        print(i,end=" ")
        j=j+1
    print()
    i=i+1

5
1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [123]:
n=int(input())
i=0
while(i<n):
    j=n
    while(j>0):
        print(j,end=" ")
        j=j-1
    print()
    i=i+1

5
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1

In [124]:
n=int(input())
i=0
while(i<n):
    j=1
    while(j<=n):
        print(n-j+1,end=" ")
        j=j+1
    print()
    i=i+1

5
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1

In [125]:
n=int(input())
i=1
while(i<=n):
    j=1
    while(j<=i):
        print(j,end=" ")
        j=j+1
    print()
    i=i+1

5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [126]:
n=int(input())
i=1
while(i<=n):
    j=1
    while(j<=i):
        print(i+j-1,end=" ")
        j=j+1
    print()
    i=i+1

5
1
2 3
3 4 5
4 5 6 7
5 6 7 8 9

In [127]:
n=4
i=1
while(i<=n):
    k=i
    j=1
    while(j<=i):
        print(k,end=" ")
        k=k+1
        j=j+1
    print()
    i=i+1

1
2 3
3 4 5
4 5 6 7

In [128]:
n=int(input())
i=1
k=1
while(i<=n):
    j=1
    while(j<=i):
        print(k,end=" ")
        k=k+1
        j=j+1
    print()
    i=i+1

5
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [129]:
n=4
i=0
while(i<n):
    j=0
    while(j<n):
        print(chr(j+65),end=" ")
        j=j+1
    print()
    i=i+1

A B C D
A B C D
A B C D
A B C D

In [130]:
n=4
i=0
while(i<n):
    j=0
    k=i
    while(j<n):
        print(chr(k+65),end=" ")
        j=j+1
        k=k+1
    print()
    i=i+1

A B C D
B C D E
C D E F
D E F G

In [131]:
#ord-gives me character value
#chr-give me character by number
n=65
print(chr(65))
print(ord('A'))

A
65

In [132]:
"""
Code : Triangle Number Pattern
Send Feedback
Print the following pattern for the given N number of rows.
Pattern for N = 4
1
22
333
4444
Input format :
Integer N (Total no. of rows)
Output format :
Pattern in N lines
Constraints
0 <= N <= 50
Sample Input 1:
5
Sample Output 1:
1
22
333
4444
55555
Sample Input 2:
6
"""
n=int(input())
i=1
while(i<=n):
    j=1
    while(j<=i):
        print(i,end=" ")
        j=j+1
    print()
    i=i+1

5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [134]:
"""
Code : Reverse Number Pattern
Send Feedback
Print the following pattern for the given N number of rows.
Pattern for N = 4
1
21
321
4321
Input format :
Integer N (Total no. of rows)
Output format :
Pattern in N lines
Constraints
0 <= N <= 50
Sample Input 1:
5
Sample Output 1:
1
21
321
4321
54321
Sample Input 2:
6
Sample Output 2:
1
21
321
4321
54321
654321

"""
n=int(input())
i=1
while(i<=n):
    j=i
    while(j>=1):
        print(j,end=" ")
        j=j-1
    print()
    i=i+1

6
1
2 1
3 2 1
4 3 2 1
5 4 3 2 1
6 5 4 3 2 1

In [135]:
"""
Code : Character Pattern
Send Feedback
Print the following pattern for the given N number of rows.
Pattern for N = 4
A
BC
CDE
DEFG
Input format :
Integer N (Total no. of rows)
Output format :
Pattern in N lines
Constraints
0 <= N <= 13
Sample Input 1:
5
Sample Output 1:
A
BC
CDE
DEFG
EFGHI
Sample Input 2:
6
Sample Output 2:
A
BC
CDE
DEFG
EFGHI
FGHIJK
"""
n=int(input())
i=1
while(i<=n):
    j=1
    while(j<=i):
        print(chr(65+i+j-2),end=" ")
        j=j+1
    print()
    i=i+1

6
A
B C
C D E
D E F G
E F G H I
F G H I J K

In [136]:
"""
Code : Interesting Alphabets
Send Feedback
Print the following pattern for the given number of rows.
Pattern for N = 5
E
DE
CDE
BCDE
ABCDE
Input format :
N (Total no. of rows)
Output format :
Pattern in N lines
Constraints
0 <= N <= 26
"""
n=int(input())
i=n
while(i>0):
    k=i
    while(k<=n):
        print(chr(65+k-1),end=" ")
        k=k+1
    print()
    i=i-1

5
E
D E
C D E
B C D E
A B C D E

In [137]:
"""
Here are a few similar patterns problems for your practice. All the patterns have been
drawn for N=4.
A
AB
ABC
ABCD
12344321
123**321
12****21
1******1
ABCD
ABC
AB
A
4555
3455
2345
1234
1
11
202
3003
"""
"""
A
AB
ABC
ABCD
"""
n=int(input())
i=0
while(i<n):
    j=0
    while(j<=i):
        print(chr(65+j),end=" ")
        j=j+1
    print()
    i=i+1

5
A
A B
A B C
A B C D
A B C D E

In [138]:
"""
12344321
123**321
12****21
1******1
"""
n=4
i=1
while(i<=n):
    count=1
    j=1
    while(j<=n-i+1):
        print(j,end="")
        j=j+1
        count=count+1 
    
    print("*"*(8-(n-i+1)*2),end="")
    
    k=n-i+1
    j=1
    while(j<=n-i+1):
        print(k,end="")
        k=k-1
        j=j+1
    
    print()
    i=i+1

12344321
123**321
12****21
1******1

In [ ]:
"""
ABCD
ABC
AB
A
"""
n=4
i=n
while(i>0):
    j=1
    while(j<=i):
        print(chr(65+j-1),end=" ")
        j=j+1
    print()
    i=i-1

In [ ]:
"""
4555
3455
2345
1234
"""
n=4
i=1
while(i<=n):
    j=1
    k=n-i+1
    while(j<=i):
        print(k,end="")
        k=k+1
        j=j+1
    print("5"*(n-i),end="")
    print()
    i=i+1

In [139]:

n=int(input())
i=1
while(i<=n):
    j=1
    while(j<=i):
        if(j==1 or j==i):
            print("1",end=" ")
        else:
            print("2",end=" ")
        j=j+1
    print()
    i=i+1

5
1
1 1
1 2 1
1 2 2 1
1 2 2 2 1

In [ ]:
"""
1
11
202
3003
"""
n=int(input())
i=1
while(i<=n):
    j=1
    while(j<=i):
        if(i==1 and i+j==2):
            print("1",end=" ")
        elif(j==1):
            print(i-j,end=" ")
        elif(i==j):
            print(j-1,end=" ")
        else:
            print("0",end=" ")
        j=j+1
    print()
    i=i+1

In [140]:
n=int(input())
print(1)
i=2
while(i<=n):
    j=1
    while(j<=i):
        if(j==1 or j==i):
            print(i-1,end=" ")
        else:
            print("0",end=" ")
        j=j+1
    print()
    i=i+1

5
1
1 1
2 0 2
3 0 0 3
4 0 0 0 4

In [141]:
i=4
while(i>0):
    j=1
    while(j<=i):
        print("*",end=" ")
        j=j+1
    print()
    i=i-1

* * * *
* * *
* *
*

In [142]:
i=1
while(i<=4):
    j=1
    while(j<=n-i+1):
        print("*",end=" ")
        j=j+1
    print()
    i=i+1

* * * * *
* * * *
* * *
* *

In [ ]:
"""
N=5
    *
   **
  ***
 ****
*****
"""
N=int(input())
i=1
while(i<=N):
    s=1
    while(s<=N-i):
        print(" ",end="")
        s=s+1
    j=1
    while(j<=i):
        print("*",end="")
        j=j+1
    print()
    i=i+1

In [143]:
N=int(input())
i=1
while(i<=N):
    s=1
    while(s<=N-i):
        print(" ",end="")
        s=s+1
    j=1
    while(j<=i):
        print(j,end="")
        j=j+1
    print()
    i=i+1

5
    1
   12
  123
 1234
12345

In [ ]:
"""
1
121
12321
1234321
"""

n=int(input())
i=1
print(1)
while(i<=n):
    j=1
    while(j<=i):
        print(j,end="")
        j=j+1 
    while(j>0):
        print(j,end="")
        j=j-1
        
    print()
    i=i+1

In [144]:
n=int(input())
i=1
while(i<=n):
    s=1
    while(s<=n-i):
        print(" ",end="")
        s=s+1
    j=1
    while(j<=i):
        print(j,end="")
        j=j+1 
    p=i-1
    while(p>0):
        print(p,end="")
        p=p-1
        
    print()
    i=i+1

6
     1
    121
   12321
  1234321
 123454321
12345654321

In [1]:
n=int(input())
i=1
while(i<=n):
    s=1
    while(s<=n-i):
        print(" ",end="")
        s=s+1
    j=1
    k=i
    while(j<=i):
        print(k,end="")
        k=k+1
        j=j+1 
    k=k-1
    while(k>i):
        print(k-1,end="")
        k=k-1
        
    print()
    i=i+1

5
    1
   232
  34543
 4567654
567898765

In [145]:
n=int(input())
i=1
while(i<=n):
    s=1
    while(s<=n-i):
        print(" ",end="")
        s=s+1
    j=1
    while(j<=2*i-1):
        print("*",end="")
        j=j+1 
        
    print()
    i=i+1
i=1
while(i<=n):
    s=1
    while(s<=i):
        print(" ",end="")
        s=s+1
    j=1
    while(j<2*(n-i-1+1)):
        print("*",end="")
        j=j+1 
        
    print()
    i=i+1

5
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

### For loop
###### range(start,stop,increment/decrement)

In [146]:
#string is a group of characters

d="Nikhil"
for i in d:
    print(i,end=" ")

N i k h i l

In [147]:
n=int(input())
for i in range(1,n+1,1):
    print(i,end=" ")

5
1 2 3 4 5

In [148]:
n=int(input())
for i in range(n+1):
    print(i)

6
0
1
2
3
4
5
6

In [149]:
n=int(input())
for i in range(n,0,-1):
    print(i)

5
5
4
3
2
1

In [150]:
a=int(input())
b=int(input())
for i in range(a,b+1):
    if(i%3==0):
        print(i,end=" ")

12
20
12 15 18

In [151]:
a=int(input())
b=int(input())
if a%3==0:
    a=a
elif a%3==1:
    a=a+2
else:
    a=a+1
for i in range(a,b+1,3):
    print(i,end=" ")

1
15
3 6 9 12 15

In [152]:
n=int(input())
for i in range(1,n+1):
    k=i
    print(" "*(n-i),end="")
    for j in range(i):
        print(k,end="")
        k=k+1
    k=k-1
    for l in range(k-1,i-1,-1):
        print(l,end="")
        k=k-1
    print()

5
    1
   232
  34543
 4567654
567898765

In [153]:
n=int(input())
for i in range(1,n+1):
    print(" "*(n-i),end="")
    for j in range(i,2*i):
        print(j,end="")
    for k in range(2*i-2,i-1,-1):
        print(k,end="")
    print()

5
    1
   232
  34543
 4567654
567898765

In [154]:
a=int(input())
c=0
for i in range(2,a):
    if a%i==0:
        c=1
        break
if c==0:
    print("prime")
else:
    print("Not prime")

12
Not prime

### Break

In [ ]:
#if the code is like this then it only breaks inner while loop not external
"""
while:
    while:
       break
"""

In [155]:
i=1
while(i<10):
    if i==5:
        break
    print(i)
    i=i+1

1
2
3
4

In [156]:
i=1
while(i<10):
    if i!=5:
        print(i,end=" ")
    i=i+1

1 2 3 4 6 7 8 9

In [157]:
i=1
while(i<10):
    print(i)
    i=i+1
else:
    print("This will print once at the end")

1
2
3
4
5
6
7
8
9
This will print once at the end

In [158]:
n=int(input())
for i in range(1,n+1,1):
    print(i,end=" ")
else:
    print()
    print("This will print once at the end")

5
1 2 3 4 5
This will print once at the end

In [159]:
#prime
n=int(input())
for i in range(2,n+1):
    for j in range(2,i):
        if i%j==0:
            print("Not prime")
            break
    else:
        print("prime")

5
prime
prime
Not prime
prime

### continue:
####  skip an iteration

In [160]:
for i in range(1,11):
    if i==5:
        continue
    print(i,end=" ")

1 2 3 4 6 7 8 9 10

In [161]:
for i in range(1,11):
    if i!=5:
        print(i,end=" ")

1 2 3 4 6 7 8 9 10

In [162]:
for i in range(1,11):
    if i%2==0:
        continue
    print(i,end=" ")

1 3 5 7 9

In [163]:
n=int(input())
i=2
while(i<=n):
    if i%7==0:
        continue
    print(i)
    i=i+2
#infinate

10
2
4
6
8
10

In [164]:
n=int(input())
i=2
while(i<=n):
    if i%7==0:
        i=i+1
        continue
    print(i)
    i=i+1

10
2
3
4
5
6
8
9
10

In [ ]:
"""
Binary Pattern
Send Feedback
Print the following pattern for the given number of rows.
Pattern for N = 4
1111
000
11
0
Input format : N (Total no. of rows)
Output format : Pattern in N lines
Sample Input :
5
Sample Output :
11111
0000
111
00
1
"""
n=int(input())
i=n
while(i>0):
    j=1
    while(j<=i):
        if(i%2==0):
            print("0",end="")
        else:
            print("1",end="")
        j=j+1
    print()
    i=i-1

In [ ]:
"""
Print Number Pyramid
Send Feedback
Print the following pattern for a given n.
For eg. N = 5
 
Sample Input 1 :
12345
 2345
  345
   45
    5
   45
  345
 2345
12345
"""
n=int(input())
first=n*2//2
second=n*2//2
i=1
while(i<=first):
    s=1
    while(s<i):
        print(" ",end="")
        s=s+1
    
    j=i
    while(j<=first):
        print(j,end="")
        j=j+1
    print()
    i=i+1
i=second-1
while(i>=1):
    s=1
    while(s<i):
        print(" ",end="")
        s=s+1
    
    j=i
    while(j<=second):
        print(j,end="")
        j=j+1
    print()
    i=i-1

In [ ]:
"""
Rectangular numbers
Send Feedback
Print the following pattern for the given number of rows.
Pattern for N = 4
4444444
4333334
4322234
4321234
4322234
4333334  
4444444

"""

"""
4444444  -4
4333334  -3
4322234  -2
4321234  -1
"""

n=int(input())
for i in range(1,n+1):
    for up in range(1,i,1):
        print(n-up+1,end=" ")
    for j in range(i,2*n-i+1,1):
        print(n-i+1,end=" ")
    
    for lp in range(2*n-i,2*n-1,1):
        print(lp-n+2,end=" ")
    print()
for i in range(n-1,0,-1):
    for up in range(1,i,1):
        print(n-up+1,end=" ")
    for j in range(i,2*n-i+1,1):
        print(n-i+1,end=" ")
    for lp in range(2*n-i,2*n-1,1):
        print(lp-n+2,end=" ")
    print()

In [ ]:
n=4
for i in range(1,n+1):
    for up in range(1,i,1):
        print(n-up+1,end=" ")
    for j in range(1,n*2-2*i+1):
        print(n-i+1,end=" ")
    l=n-i+1
    for lp in range(1,i+1):
        print(l,end=" ")
        l=l+1
    print()
    """
    5   i=1 n=4  8-2*1 =6
    3   i=2 n=4  8-2*2 =4
    1   i=3 n=4  8-2*3 =2
    """
for i in range(n-1,0,-1):
    for up in range(1,i,1):
        print(n-up+1,end=" ")
    for j in range(1,n*2-2*i+1):
        print(n-i+1,end=" ")
    l=n-i+1
    for lp in range(1,i+1):
        print(l,end=" ")
        l=l+1
    print()

In [165]:
n=5
if(n%2==0):
    k=n//2
else:
    k=n//2+1
for i in range(1,k+1):
    for j in range(1,n+1):
        print(2*n*(i-1)+j,end=" ")
    print()
r=n-k
for i in range(r,0,-1):
    for j in range(1,n+1):
        print((2*i-1)*n+j,end=" ")
    print()

1 2 3 4 5
11 12 13 14 15
21 22 23 24 25
16 17 18 19 20
6 7 8 9 10

# functions

In [ ]:
n         n!
 c ===  -------
  r      r!(n-r)!

In [ ]:
def fact(n):
    if n==0:
        return 1
    else:
        return n*fact(n-1)
n=int(input())
r=int(input())
factn=fact(n)
factr=fact(r)
b=n-r
factnr=fact(b)
print(factn//(factnr*factr))

2
6

In [1]:
def fact(n):
    fact=1
    for i in range(1,n+1):
        fact=fact*i
    return fact
        
n=int(input())
r=int(input())
factn=fact(n)
factr=fact(r)
b=n-r
factnr=fact(b)
print(factn//(factnr*factr))

2
6
0

In [2]:
def prime(n):
    for i in range(2,n):
        if(n%i==0):
            print("false")
            break
    else:
        print("True")


n=int(input())
prime(n)

5
True

In [4]:
def prime(n):
    for i in range(2,n):
        if(n%i==0):
            break
    else:
        return True
    return False

In [5]:
def primefrom2ton(n):
    for i in range(2,n+1):
        l=prime(i)
        if(l):
            print(i)
n=int(input())
primefrom2ton(n)

5
2
3
5

In [7]:
def prime(n):
    for i in range(2,n):
        if(n%i==0):
            break
    else:
        return True
    return False


n=int(input())
for i in range(2,n):
    print(prime(i))

9
True
True
False
True
False
True
False

In [8]:
def fact1(l):
    fact1=1
    for i in range(1,l+1):
        fact1=fact1*i
    return fact1

In [11]:
def ncr(n, r):
    factn=fact1(n)
    factr=fact1(r)
    factnr=fact1(n-r)
    c=factn//(factnr*factr)
    return c

In [12]:
ncr(5,2)

10

### function call

In [2]:
def C():
    print("Cs")
    print("Ce")
    
def B():
    print("Bs")
    C()
    print("Be")
    

def A():
    print("As")
    B()
    print("Ae")
A()
"""
C
B
A
First in last out
call stack
"""

As
Bs
Cs
Ce
Be
Ae

'\nC\nB\nA\nFirst in last out\ncall stack\n'

In [13]:
#scope of a variable
#local--with in a function
#global--defined out side a function

a=10#global
def f1():
    b1=12#loacl
print(a)
print(b1)#error

10

NameError: name 'b1' is not defined

In [14]:
a=10#global
def f1():
    b1=12#loacl
    print(b1)
    print(a)
    print(a3)
    print(c3)#we cannot access
a3=11
print(a)
f1()#global varibale only before the function
c3=20#error

10
12
10
11

NameError: name 'c3' is not defined

In [15]:
a4=13
def fun4():
    a4=12#python assumes local variable
    print(a4)
    print(id(a4))
print(a4)
fun4()
print(id(a4))
print(a4)#13

13
12
1673283988112
1673283988144
13

In [16]:
a4=13
def fun4():
    global a4
    a4=12#python assumes global variable
    print(a4)
    print(id(a4))
print(a4)
fun4()
print(id(a4))
print(a4)#13

13
12
1673283988112
1673283988112
12

In [17]:
#to access local
def f():
    b=10
    return b
x=f()
print(x)

10

In [18]:
def sum2(a,b):
    return a+b
def sum1(a,b,c):
    return a+b+c

In [19]:
def sum2(a,b,c=0):#c=0
    return a+b
print(sum2(1,2,5))

3

In [20]:
def f(a=0,b,c):
    return a+b+c
f(1,2)
#note:first non-default argument next default argument(c==0)

SyntaxError: non-default argument follows default argument (1646694447.py, line 1)

In [21]:
def f1(c,b,a=0,d=2):
    return a+b+c+d
print(f1(1,2))
print(f1(2,3,4,5))
print(f1(2,3,5))
print(f1(1,2,5,d=6))
print(f1(5,d=6))

5
14
12
14

TypeError: f1() missing 1 required positional argument: 'b'

In [ ]:
"""
Fahrenheit to Celsius Function
Send Feedback
Given three values - Start Fahrenheit Value (S), End Fahrenheit value (E) and Step Size (W), you need to convert all Fahrenheit values from Start to End at the gap of W, into their corresponding Celsius values and print the table.
Input Format :
3 integers - S, E and W respectively
Output Format :
Fahrenheit to Celsius conversion table. One line for every Fahrenheit and Celsius Fahrenheit value. Fahrenheit value and its corresponding Celsius value should be separate by tab ("\t")
Constraints :
0 <= S <= 1000
0 <= E <= 1000
0 <= W <= 1000
Sample Input 1:
0 
100 
20
Sample Output 1:
0   -17
20  -6
40  4
60  15
80  26
100 37

"""

def ftoc(n):
    c=int((5/9)*(n-32))
    return c



s=int(input())
e=int(input())
w=int(input())
for i in range(s,e+1,w):
    b=ftoc(i)
    print(i,b)

In [ ]:
"""
Fibonacci Member
Send Feedback
Given a number N, figure out if it is a member of fibonacci series or not. Return true if the number is member of fibonacci series else false.
Fibonacci Series is defined by the recurrence
    F(n) = F(n-1) + F(n-2)
where F(0) = 0 and F(1) = 1

Input Format :
Integer N
Output Format :
true or false
Constraints :
0 <= n <= 10^4
Sample Input 1 :
5
Sample Output 1 :
true
Sample Input 2 :
14
Sample Output 2 :
false

"""
def func(a):
    if a==0 or a==1 or a==2:
        print("True")
    else:
        c=0
        d=1
        while(d<a):
            e=c+d
            c=d
            d=e
        if(d==a):
            print("true")
        else:
            print("False")
    
    
a=int(input())
func(a)

In [ ]:
"""
Write a program to determine if given number is palindrome or not. Print true if it is palindrome, false otherwise.
Palindrome are the numbers for which reverse is exactly same as the original one. For eg. 121
Sample Input 1 :
121
Sample Output 1 :
true
Sample Input 2 :
1032
Sample Output 2 :
false
"""
def palin(a):
    b=str(a)[::-1]
    if(str(a)==b):
        print("true")
    else:
        print("false")
a=int(input())
palin(a)

In [ ]:
 """
 Check Armstrong
Send Feedback
Write a Program to determine if the given number is Armstrong number or not. Print true if number is armstrong, otherwise print false.
An Armstrong number is a number (with digits n) such that the sum of its digits raised to nth power is equal to the number itself.
For example,
371, as 3^3 + 7^3 + 1^3 = 371
1634, as 1^4 + 6^4 + 3^4 + 4^4 = 1634
Input Format :
Integer n
Output Format :
true or false
Sample Input 1 :
1
Sample Output 1 :
true
Sample Input 2 :
103
Sample Output 2 :
false
 
"""
    
def arm(a):
    c=a
    rev=0
    length=0
    r=a
    while(r!=0):
        r=r//10
        length=length+1
    print(length)
    while(a!=0):
        v=a%10
        rev=rev+v**(length)
        a=a//10
    print(rev)
    if(c==rev):
        print("true")
    else:
        print("False")
a=int(input())
arm(a)

In [ ]:
144

### Lists

In [22]:
a=[1,2,"Nikhil",'nikhil',5.6]
print(a)

[1, 2, 'Nikhil', 'nikhil', 5.6]

In [23]:
a=65
print(ord('A'))
chr(a)

65

'A'

##### operations on lists

In [24]:
#create a list
a=[]
b=[1,2,3]
type(a)

list

In [25]:
#access and change elements in lists
a=[1,2,"Nikhil",'nikhil',5.6]
print(a[0])
print(a[-1])
a[3]='rav'
print(a)

1
5.6
[1, 2, 'Nikhil', 'rav', 5.6]

In [26]:
#slicing
print(a[0:3])
print(a[0:])
print(a[0:10])

[1, 2, 'Nikhil']
[1, 2, 'Nikhil', 'rav', 5.6]
[1, 2, 'Nikhil', 'rav', 5.6]

In [27]:
#insert and appending in list
a=[1,2,"Nikhil",'nikhil',5.6]
a.append("kir")
print(a)
a.insert(6,"high")
print(a)
a.insert(16,"high")#it stores at last 
print(a)
a.append([9,10,11])
print(a)
a.extend([9,10,11])
print(a)
e=[1,2,3,4]
f=[2,4,5]
e.extend(f)
print(e)

[1, 2, 'Nikhil', 'nikhil', 5.6, 'kir']
[1, 2, 'Nikhil', 'nikhil', 5.6, 'kir', 'high']
[1, 2, 'Nikhil', 'nikhil', 5.6, 'kir', 'high', 'high']
[1, 2, 'Nikhil', 'nikhil', 5.6, 'kir', 'high', 'high', [9, 10, 11]]
[1, 2, 'Nikhil', 'nikhil', 5.6, 'kir', 'high', 'high', [9, 10, 11], 9, 10, 11]
[1, 2, 3, 4, 2, 4, 5]

In [28]:
#removing element from list
a=[1,2,3,4,2]
a.remove(2)
print(a)#it removes first 2 in list
#delete at paticular index
a.pop()#it removes last element and return
#at index
a.pop(1)
print(a)

[1, 3, 4, 2]
[1, 4]

In [29]:
a=[1,2,"parith",3.4]
print(id(a[1]))
print(id(a[2]))
print(id(a[3]))

1673283987792
1673371721200
1673400394800

In [30]:
li=[1,2,"nikhil",9,10,11,'Nikhil']
for i in range(len(li)):
    print(li[i],end=" ")
print()
for i in li:
    print(i,end=" ")
print()
for i in li[2:]:
    print(i,end=" ")

1 2 nikhil 9 10 11 Nikhil
1 2 nikhil 9 10 11 Nikhil
nikhil 9 10 11 Nikhil

In [3]:
a=[1,2,3,45,50]
#-5 -4 -3 -2,-1
#0  1  2  3  4
print(a[-4::1])
print(a[-1::-1])
print(a[1:4:2])
print(a[-1:-4:-1])
print(a[-4:-1])
print(a[:])
print(a[:-3])
print(a[:4])

[2, 3, 45, 50]
[50, 45, 3, 2, 1]
[2, 45]
[50, 45, 3]
[2, 3, 45]
[1, 2, 3, 45, 50]
[1, 2]
[1, 2, 3, 45]

In [32]:
li=[]
for i in range(4):
    li.append(int(input()))
print(li)

1
2
3
4
[1, 2, 3, 4]

In [33]:
n=int(input())

5

In [37]:
string=input()

Nikhil Thammana

In [38]:
string

'Nikhil Thammana'

In [39]:
string.split(' ')

['Nikhil', 'Thammana']

In [40]:
str1=input()

nikhil thammana

In [44]:
str1=input()
str1=str1.split()

1 2 3 4 5

In [45]:
li=[]
for ele in str1:
    li.append(int(ele))
print(li)

[1, 2, 3, 4, 5]

In [46]:
li=[int(x) for x in input().split()]

1 2 3 4 5

In [47]:
li

[1, 2, 3, 4, 5]

### linear search

In [48]:
n=int(input())
l=[int(i) for i in input().split()]
e=int(input())
flag=0
for i in range(len(l)):
    if l[i]==e:
        print(i)
        flag=1
        break
if flag==0:
    print(-1)

5
1 2 3 6 5 2 4
5
4

In [ ]:
#function
def linear_search(li,element):
    for i in range(len(li)):
        if li[i]==element:
            return i
            break
    else:
        return "Not found"
a=int(input())
li=[int(i) for i in input().split()]
element=int(input())
index=linear_search(li,element)
print(index)

In [ ]:
#mutable and immutable
#varibles are immutable
#lists are mutable
#strings are immutable

#### passing variables through functions

In [ ]:
def increment(a):
    #global a  if we using global then we need to change parameter in fun
    a=a+2
    return a
a=2
a=increment(a)
print(a)

In [ ]:
def increment(li):
    li[0]=2
    return li


li=[3,2,4,6]
increment(li)
print(li)

In [ ]:
li=[2,3,4,5]
for li[-1] in li:
    print(li,end="*")
    print(li[-1])
    # 2,3,4,2
    # 2,3,4,3
    # 2,3,4,4
    # 2,3,4,4
print()

In [ ]:
li=[2,3,4,5]
for li[-2] in li:
    print(li,end="*")
    print(li[-1])

In [ ]:
def increment(li):
    li=[1,3,4]
    return li


li=[3,2,4,6]
increment(li)
print(li)

In [ ]:
#reversing a list
def reverse(li):
    i=0
    j=len(li)-1
    while(i!=j):
        temp=li[i]
        li[i]=li[j]
        li[j]=temp
        i=i+1
        j=j-1

li=[2,3,4,5,6]
reverse(li)
print(li)

In [ ]:
def reverse(li):
    length=len(li)
    for i in range(length//2):
        li[i],li[length-i-1]=li[length-i-1],li[i]

li=[2,3,4,5,6]
reverse(li)
print(li)

In [ ]:
"""
Swap Alternate
Send Feedback
You have been given an array/list(ARR) of size N. You need to swap every pair of alternate elements in the array/list.
You don't need to print or return anything, just change in the input array itself.
Input Format :
The first line contains an Integer 't' which denotes the number of test cases or queries to be run. Then the test cases follow.

First line of each test case or query contains an integer 'N' representing the size of the array/list.

Second line contains 'N' single space separated integers representing the elements in the array/list.
Output Format :
For each test case, print the elements of the resulting array in a single row separated by a single space.

Output for every test case will be printed in a separate line.
Constraints :
1 <= t <= 10^2
0 <= N <= 10^5
Time Limit: 1sec
Sample Input 1:
1
6
9 3 6 12 4 32


Sample Output 1 :
3 9 12 6 32 4
"""
def sp(d,lis):
    lis2=lis
    for i in range(d+1):
        for j in range(1,len(lis2)):
            #lis[j-1],lis[j]=lis[j-1],lis[j]
            temp=lis2[j-1]
            lis2[j-1]=lis2[j]
            lis2[j]=temp
    return lis2
def note(a):
    for i in range(a):
        d=int(input())
        lis=[int(i) for i in input().split()]
        b=sp(d,lis)
        print(b)
        
a=int(input())
note(a)

In [ ]:
"""
Find Unique
Send Feedback
You have been given an integer array/list(ARR) of size N. Where N is equal to [2M + 1].
Now, in the given array/list, 'M' numbers are present twice and one number is present only once.
You need to find and return that number which is unique in the array/list.
 Note:
Unique element is always present in the array/list according to the given condition.
Input format :
The first line contains an Integer 't' which denotes the number of test cases or queries to be run. Then the test cases follow.

First line of each test case or query contains an integer 'N' representing the size of the array/list.

Second line contains 'N' single space separated integers representing the elements in the array/list.
Output Format :
For each test case, print the unique element present in the array.

Output for every test case will be printed in a separate line.
Constraints :
1 <= t <= 10^2
0 <= N <= 10^3
Time Limit: 1 sec
Sample Input 1:
1
7
2 3 1 6 3 6 2
Sample Output 1:
1
Sample Input 2:
2
5
2 4 7 2 7
9
1 3 1 3 6 6 7 10 7
Sample Output 2:
4
10

"""
def func(d,li):
    list1=li
    li2=[]
    for i in range(len(list1)):
        if list1.count(list1[i])==1:
            li2.append(li[i])
    print(*li2)
        

a=int(input())
for i in range(a):
    d=int(input())
    li=[int(j) for j in input().split()]
    func(d,li)

In [ ]:
"""
Find Duplicate
Send Feedback
You have been given an integer array/list(ARR) of size N which contains numbers from 0 to (N - 2). Each number is present at least once. That is, if N = 5, the array/list constitutes values ranging from 0 to 3 and among these, there is a single integer value that is present twice. You need to find and return that duplicate number present in the array.
Note :
Duplicate number is always present in the given array/list.
Input format :
The first line contains an Integer 't' which denotes the number of test cases or queries to be run. Then the test cases follow.

First line of each test case or query contains an integer 'N' representing the size of the array/list.

Second line contains 'N' single space separated integers representing the elements in the array/list.
Output Format :
For each test case, print the duplicate element in the array/list.

Output for every test case will be printed in a separate line.
Constraints :
1 <= t <= 10^2
0 <= N <= 10^3
Time Limit: 1 sec
Sample Input 1:
1
9
0 7 2 5 4 7 1 3 6
Sample Output 1:
7
Sample Input 2:
2
5
0 2 1 3 1
7
0 3 1 5 4 3 2
Sample Output 2:
1
3
"""
def func(d,li):
    list1=li
    li2=[]
    for i in range(len(list1)):
        if (list1[i] not in li2) and list1.count(list1[i])>1:
            li2.append(li[i])
    print(*li2)
        

a=int(input())
for i in range(a):
    d=int(input())
    li=[int(j) for j in input().split()]
    func(d,li)

In [ ]:
"""
Pair Sum
Send Feedback
You have been given an integer array/list(ARR) and a number X. Find and return the total number of pairs in the array/list which sum to X.
Note:
Given array/list can contain duplicate elements. 
Input format :
The first line contains an Integer 't' which denotes the number of test cases or queries to be run. Then the test cases follow.

First line of each test case or query contains an integer 'N' representing the size of the first array/list.

Second line contains 'N' single space separated integers representing the elements in the array/list.

Third line contains an integer 'X'.
Output format :
For each test case, print the total number of pairs present in the array/list.

Output for every test case will be printed in a separate line.
Constraints :
1 <= t <= 10^2
0 <= N <= 10^3
0 <= X <= 10^9
Time Limit: 1 sec
Sample Input 1:
1
9
1 3 6 2 5 4 3 2 4
7
Sample Output 1:
7
Sample Input 2:
2
9
1 3 6 2 5 4 3 2 4
12
6
2 8 10 5 -2 5
10
Sample Output 2:
0
2

 Explanation for Input 2:
Since there doesn't exist any pair with sum equal to 12 for the first query, we print 0.

For the second query, we have 2 pairs in total that sum up to 10. They are, (2, 8) and (5, 5).

"""
def func(d,b):
    c=b
    count=0
    for i in range(len(c)):
        for j in range(i+1,len(c)):
            if(c[i]+c[j]==d):
                count=count+1
    return count
    

m=int(input())
for i in range(m):
    d=int(input())
    b=[int(x) for x in input().split()]
    print(func(d,b))

In [ ]:
"""
Triplet Sum
Send Feedback
You have been given a random integer array/list(ARR) and a number X. Find and return the number of triplets in the array/list which sum to X.
Note :
Given array/list can contain duplicate elements.
Input format :
The first line contains an Integer 't' which denotes the number of test cases or queries to be run. Then the test cases follow.

First line of each test case or query contains an integer 'N' representing the size of the first array/list.

Second line contains 'N' single space separated integers representing the elements in the array/list.

Third line contains an integer 'X'.
Output format :
For each test case, print the total number of triplets present in the array/list.

Output for every test case will be printed in a separate line.
Constraints :
1 <= t <= 50
0 <= N <= 10^2
0 <= X <= 10^9
Time Limit: 1 sec
Sample Input 1:
1
7
1 2 3 4 5 6 7 
12
Sample Output 1:
5
Sample Input 2:
2
7
1 2 3 4 5 6 7 
19
9
2 -5 8 -6 0 5 10 11 -3
10
Sample Output 2:
0
5
Explanation for Input 2:
Since there doesn't exist any triplet with sum equal to 19 for the first query, we print 0.

For the second query, we have 5 triplets in total that sum up to 10. They are, (2, 8, 0), (2, 11, -3), (-5, 5, 10), (8, 5, -3) and (-6, 5, 11)

"""
def func(e,b):
    c=b
    count=0
    for i in range(len(c)):
        for j in range(i+1,len(c)):
            for k in range(j+1,len(c)):
                if(c[i]+c[j]+c[k]==e):
                    count=count+1
            
    return count
    

m=int(input())
for i in range(m):
    d=int(input())
    b=[int(x) for x in input().split()]
    e=int(input())
    print(func(e,b))

In [ ]:
"""
Sort 0 1
Send Feedback
You have been given an integer array/list(ARR) of size N that contains only integers, 0 and 1. Write a function to sort this array/list. Think of a solution which scans the array/list only once and don't require use of an extra array/list.
Note:
You need to change in the given array/list itself. Hence, no need to return or print anything. 
Input format :
The first line contains an Integer 't' which denotes the number of test cases or queries to be run. Then the test cases follow.

First line of each test case or query contains an integer 'N' representing the size of the array/list.

Second line contains 'N' single space separated integers(all 0s and 1s) representing the elements in the array/list.
Output format :
For each test case, print the sorted array/list elements in a row separated by a single space.

Output for every test case will be printed in a separate line.
Constraints :
1 <= t <= 10^2
0 <= N <= 10^5
Time Limit: 1 sec
Sample Input 1:
1
7
0 1 1 0 1 0 1
Sample Output 1:
0 0 0 1 1 1 1
Sample Input 2:
2
8
1 0 1 1 0 1 0 1
5
0 1 0 1 0
Sample Output 2:
0 0 0 1 1 1 1 1
0 0 0 1 1 

"""


l=[1,0,1,1,0,1,0,1]
a=0
for i in range(len(l)):
    if l[i]==0:
        temp=l[a]
        l[a]=l[i]
        l[i]=temp
        a+=1
print(l)

In [ ]:
l=[1,0,1,1,0,1,0,1]
start=0
i=0
while(i<len(l)):
    if(l[i]==0):
        temp=l[start]
        l[start]=l[i]
        l[i]=temp
        start=start+1
    i=i+1
print(l)

In [ ]:
l1=[1,2,3,4,7]
l2=[2,3,4]
for i in l2:
    if i in l1:
        print(i,end=" ")

In [ ]:
"""
Array Intersection
Send Feedback
You have been given two integer arrays/list(ARR1 and ARR2) of size M and N, respectively. You need to print their intersection; An intersection for this problem can be defined when both the arrays/lists contain a particular value or to put it in other words, when there is a common value that exists in both the arrays/lists.
Note :
Input arrays/lists can contain duplicate elements.

The intersection elements printed would be in the order they appear in the first array/list(ARR1)

Input format :
The first line contains an Integer 't' which denotes the number of test cases or queries to be run. Then the test cases follow.

First line of each test case or query contains an integer 'N' representing the size of the first array/list.

Second line contains 'N' single space separated integers representing the elements of the first the array/list.

Third line contains an integer 'M' representing the size of the second array/list.

Fourth line contains 'M' single space separated integers representing the elements of the second array/list.
Output format :
For each test case, print the intersection elements in a row, separated by a single space.

Output for every test case will be printed in a separate line.
Constraints :
1 <= t <= 10^2
0 <= N <= 10^5
0 <= M <= 10^5
Time Limit: 1 sec 
Sample Input 1 :
2
6
2 6 8 5 4 3
4
2 3 4 7 
2
10 10
1
10
Sample Output 1 :
2 4 3
10
Sample Input 2 :
1
4
2 6 1 2
5
1 2 3 4 2
Sample Output 2 :
2 1 2
"""
l=[2,4,5,6]
l2=[3,4,4,6]
l.sort()
l2.sort()
l3=[]
i=0
j=0
while(i<len(l) and j<len(l2)):
    if(l[i]==l2[j]):
        #if(i==0 or l[i-1]!=l2[j]):
            l3.append(l[i])
            i=i+1
            j=j+1
        
    elif(l[i]<l2[j]):
            i=i+1
    else:
        j=j+1 
print(l3)

### Binary search

In [ ]:
a=[int(i) for i in input().split()[:3]]
print(a)

In [ ]:
a=[1,22,33,66,88,99,100]
element=33
i=0
j=len(a)-1
flag=1
while(i<=j):
    mid=(i+j)//2
    if(a[mid]==ele):
        print("yes")
        flag=0
        break
    elif(a[mid]<element):
        i=mid+1
    elif(a[j]>element):
        j=mid-1
if(flag==1):
    print("No")

### selection sort

In [ ]:
a=[1,3,4,2,5,6,7,8]
for i in range(0,len(a)-1):
    maxi=i
    for j in range(i,len(a)):
        if(a[j]>=a[maxi]):
            maxi=j
    temp=a[i]
    a[i]=a[maxi]
    a[maxi]=temp
print(a)

In [ ]:
a=[1,3,4,2,5,5,6,7,8]
for i in range(0,len(a)-1):
    n_index=a.index(max(a[i:]),i)
    temp=a[i]
    a[i]=a[n_index]
    a[n_index]=temp
print(a)

In [ ]:
"""
Code Binary Search
Send Feedback
You have been given a sorted(in ascending order) integer array/list(ARR) of size N and an element X. Write a function to search this element in the given input array/list using 'Binary Search'. Return the index of the element in the input array/list. In case the element is not present in the array/list, then return -1.
Input format :
The first line contains an Integer 'N' which denotes the size of the array/list.

Second line contains 'N' single space separated integers representing the elements in the array/list.

Third line contains an Integer 't' which denotes the number of test cases or queries to be run. Then the test cases follow..

All the 't' lines henceforth, will take the value of X to be searched for in the array/list.
Output Format :
For each test case, print the index at which X is present, -1 otherwise.

Output for every test case will be printed in a separate line.
Constraints :
1 <= t <= 10^4
0 <= N <= 10^6
0 <= X <= 10^9
Time Limit: 1 sec
Sample Input 1:
7
1 3 7 9 11 12 45
1
3
Sample Output 1:
1
Sample Input 2:
7
1 2 3 4 5 6 7
2
9
7
Sample Output 2:
-1
6

"""
a=int(input())
li=[int(x) for x in input().split()[:a]]
b=int(input())
for i in range(b):
    c=int(input())
    start=0
    end=len(li)-1
    flag=1
    while(start<=end):
        mid=(start+end)//2
        if(li[mid]==c):
            print("index found at",mid)
            flag=0
            break
        elif(c>li[mid]):
            start=mid+1
        elif(c<li[mid]):
            end=mid-1
    if(flag==1):
        print("No")

### Bubble sort

In [ ]:
a=[int(x) for x in input().split()]
for i in range(0,len(a)-1):
    for j in range(0,len(a)-i-1):
        if(a[j]>a[j+1]):
            a[j],a[j+1]=a[j+1],a[j]
print(a)

In [ ]:
"""
Code Bubble Sort
Send Feedback
Provided with a random integer array/list(ARR) of size N, you have been required to sort this array using 'Bubble Sort'.
Note:
Change in the input array/list itself. You don't need to return or print the elements.
Input format :
The first line contains an Integer 't' which denotes the number of test cases or queries to be run. Then the test cases follow.

First line of each test case or query contains an integer 'N' representing the size of the array/list.

Second line contains 'N' single space separated integers representing the elements in the array/list.
Output format :
For each test case, print the elements of the array/list in sorted order separated by a single space.

Output for every test case will be printed in a separate line.
Constraints :
1 <= t <= 10^2
0 <= N <= 10^3
Time Limit: 1 sec
Sample Input 1:
1
7
2 13 4 1 3 6 28
Sample Output 1:
1 2 3 4 6 13 28
Sample Input 2:
2
5
9 3 6 2 0
4
4 3 2 1
Sample Output 2:
0 2 3 6 9
1 2 3 4
"""
def bs(li):
    ai=li
    for i in range(0,len(ai)-1):
        for j in range(0,len(ai)-i-1):
            if(ai[j]>ai[j+1]):
                ai[j],ai[j+1]=ai[j+1],ai[j]
    prin(ai)

def prin(ai):
    for i in ai:
        print(i,end=" ")

def noofit(a):
    for i in range(a):
        c=int(input())
        li=[int(x) for x in input().split()]
        bs(li)
        
        
        
a=int(input())
noofit(a)

### Insertion sort

In [ ]:

a=[1,5,-1,3,3,1,1,2,4,5,6,7]
i=0
while(i<len(a)):
    j=i
    while(j>0):
        if(a[j]<=a[j-1]):
            temp=a[j]
            a[j]=a[j-1]
            a[j-1]=temp
        j=j-1
    i=i+1
print(a)

### Merge two sorted array lists

In [ ]:
a=[1,2,3,5,7]
b=[2,4,6]
i=0
j=0
c=[]
while(i<len(a) and j<len(b)):
    if(a[i]<b[j]):
        c.append(a[i])
        i=i+1
    else:
        c.append(b[j])
        j=j+1
while(i<len(a)):
    c.append(a[i])
    i=i+1
while(j<len(b)):
    c.append(b[j])
    j=j+1
print(c)

In [ ]:
"""
Push Zeros to end
Send Feedback
You have been given a random integer array/list(ARR) of size N. You have been required to push all the zeros that are present in the array/list to the end of it. Also, make sure to maintain the relative order of the non-zero elements.
Note:
Change in the input array/list itself. You don't need to return or print the elements.

You need to do this in one scan of array only. Don't use extra space.

Input format :
The first line contains an Integer 't' which denotes the number of test cases or queries to be run. Then the test cases follow.

First line of each test case or query contains an integer 'N' representing the size of the array/list.

Second line contains 'N' single space separated integers representing the elements in the array/list.
Output Format :
For each test case, print the elements of the array/list in the desired order separated by a single space.

Output for every test case will be printed in a separate line.
Constraints :
1 <= t <= 10^2
0 <= N <= 10^5
Time Limit: 1 sec
Sample Input 1:
1
7
2 0 0 1 3 0 0
Sample Output 1:
2 1 3 0 0 0 0
 Explanation for the Sample Input 1 :
All the zeros have been pushed towards the end of the array/list. Another important fact is that the order of the non-zero elements have been maintained as they appear in the input array/list.
Sample Input 2:
2
5
0 3 0 2 0
4
9 0 0 8 2
Sample Output 2:
3 2 0 0 0
9 8 2 0 0 

"""
l=[0,0,1,0,1,0,1,0,1,1]
   
a=0
i=0
while(i<len(l)):
    if(l[i]!=0):
        temp=l[a]
        l[a]=l[i]
        l[i]=temp
        a=a+1
    i=i+1
print(l)

In [ ]:
"""
Rotate array
Send Feedback
You have been given a random integer array/list(ARR) of size N. Write a function that rotates the given array/list by D elements(towards the left).
 Note:
Change in the input array/list itself. You don't need to return or print the elements.
Input format :
The first line contains an Integer 't' which denotes the number of test cases or queries to be run. Then the test cases follow.

First line of each test case or query contains an integer 'N' representing the size of the array/list.

Second line contains 'N' single space separated integers representing the elements in the array/list.

Third line contains the value of 'D' by which the array/list needs to be rotated.
Output Format :
For each test case, print the rotated array/list in a row separated by a single space.

Output for every test case will be printed in a separate line.
Constraints :
1 <= t <= 10^4
0 <= N <= 10^6
0 <= D <= N
Time Limit: 1 sec
Sample Input 1:
1
7
1 2 3 4 5 6 7
2
Sample Output 1:
3 4 5 6 7 1 2
Sample Input 2:
2
7
1 2 3 4 5 6 7
0
4
1 2 3 4
2
Sample Output 2:
1 2 3 4 5 6 7
3 4 1 2


"""
import time
start = time.time()
b=int(input())
a=[int(x) for x in input().split()[:b]]
n=int(input())
for i in range(n):
    j=1
    while(j<len(a)):
        temp=a[j-1]
        a[j-1]=a[j]
        a[j]=temp
        j=j+1
print(a)

end=time.time()

print("The time of execution of above program is :",(end-start) * 10**3, "ms")

In [ ]:
import time
start = time.time()
b=int(input())
a=[int(x) for x in input().split()[:b]]
n=int(input())
for i in range(n):
    b=a.pop(0)
    a.append(b)
print(a)

end=time.time()

print("The time of execution of above program is :",(end-start) * 10**3, "ms")

In [ ]:
"""
Sum of Two Arrays
Send Feedback
Two random integer arrays/lists have been given as ARR1 and ARR2 of size N and M respectively. Both the arrays/lists contain numbers from 0 to 9(i.e. single digit integer is present at every index). The idea here is to represent each array/list as an integer in itself of digits N and M.
You need to find the sum of both the input arrays/list treating them as two integers and put the result in another array/list i.e. output array/list will also contain only single digit at every index.
Note:
The sizes N and M can be different. 

Output array/list(of all 0s) has been provided as a function argument. Its size will always be one more than the size of the bigger array/list. Place 0 at the 0th index if there is no carry. 

No need to print the elements of the output array/list.
Input format :
The first line contains an Integer 't' which denotes the number of test cases or queries to be run. Then the test cases follow.

First line of each test case or query contains an integer 'N' representing the size of the first array/list.

Second line contains 'N' single space separated integers representing the elements of the first array/list.

Third line contains an integer 'M' representing the size of the second array/list.

Fourth line contains 'M' single space separated integers representing the elements of the second array/list.
Output Format :
For each test case, print the required sum of the arrays/list in a row, separated by a single space.

Output for every test case will be printed in a separate line.
Constraints :
1 <= t <= 10^2
0 <= N <= 10^5
0 <= M <= 10^5
Time Limit: 1 sec 
Sample Input 1:
1
3
6 2 4
3
7 5 6
Sample Output 1:
1 3 8 0
Sample Input 2:
2
3
8 5 2
2
1 3
4
9 7 6 1
3
4 5 9
Sample Output 2:
0 8 6 5
1 0 2 2 0 
"""
from timeit import default_timer as timer
start=timer()
l= [8,5,9]
l2=[9,7,6,1]
#l3=[]
k=max(len(l),len(l2))
"""
for i in range(k):
    l3.append(0)
"""
i=len(l)-1
j=len(l2)-1
carry=0
s=""
while(k>0):
    sum1=carry
    if(i>=0):
        sum1=sum1+l[i]
    if(j>=0):
        sum1=sum1+l2[j]
    carry=sum1//10
    sum1=sum1%10
    #l3[k-1]=sum1
    s=str(sum1)+s
    
    k=k-1
    j=j-1
    i=i-1
if carry>0:
    s=str(carry)+s
print([int(i) for i in list(s)])
#print(l3)
end=timer()

print("The time of execution of above program is :",(end-start) * 10**3, "ms")

In [ ]:
l2.reverse()
print(l2)

### strings

In [ ]:
#string are immutable
#sequence of characters
s="Nikhil"
s2='Nikhil'
s3="""
Nikhil is
hi
"""
print(s,s2,s3)

In [ ]:
s4='''my
is nikhil
'''
s4[2]

In [ ]:
s4

In [ ]:
print(s4)

In [ ]:
s="parik"
b="parik"
a="parik"
print(id(a))
print(id(b))
print(id(s))

In [ ]:
a="Nikhil"
b="vickey"

print(a+b)
id(a)

In [ ]:
print(a)

In [ ]:
id(a)

In [ ]:
a="blue"
a=a*3
print(a)

### Iterating on string

In [ ]:
string="HElloworld"
for i in string:
    print(i,end=" ")

In [ ]:
#in operator is used to check the substring
str2="HEl"
if(str2  in string):
    print("Yes")
else:
    print("No")

### comparisons opertors

>=
<=
==

In [ ]:
a="Nikhil"=="Nikhil"
#compares character by charater
print(a)

In [ ]:
a="nikhil">="zikhil"
b="zikhil">="nikhil"
c="nikhil">="zikh"
d="nik">="zikhil"
e="zik">="nikh"
f="nik">="nikhil"
#compare based on ascii values
print(a)
print(b)
#
print(c)
print(d)
print(e)
#based on length it prints false
print(f)

### operations

In [ ]:
#split()
str1="Nikhil vickey"
print(str1.split())

str2="My name is Nikhil vickey"
#split only one item
print(str2.split(" ",1))
print(str2.split(" ",3))

In [ ]:
#replace

str3="My name is Nikhil vickey"
b=str3.replace("name","names")
print(b)
c="My name is Nikhil Nikhil vickey"
f=c.replace("Nikhil","n")
print(f)
#it replace all the names
#if we want to replace only one
e=c.replace("Nikhil","n",1)
print(e)

In [ ]:
str3="My name name is Nikhil vickey"
print(str3.find("name"))
# to find next string in string
print(str3.find("name",5,20))

In [ ]:
print(str3.lower())
print(str3.upper())
print(str3.swapcase())

In [ ]:
#starts with

str1="my name is parik"
ans=str1.startswith("imy name")
print(ans)
ans=str1.startswith("name",3)
print(ans)

In [ ]:
s="abcde"
print(s.replace('a','e'))

In [ ]:
s="abcdef"
f=""
for i in s:
    if i=='a':
        f=f+'e'
    else:
        f=f+i
print(f)

LIST
append()
insert()
index()
sort()
sorted()
extend()
min()
max()
count()
pop()
delete()
concatenate=+
multiply=+
reverse()
clear()

In [ ]:
s=[1,2,3,4,5]
v=[1,2,3,4]
a=sorted(v,reverse=True)
print(a)

In [ ]:
s="abcdee"
b=list(s)
b.reverse()
print(b)

In [ ]:
#count of vowels and consonants
a="string@#2345"
b=a.lower()
c='aeiou'
vowels=0
consonants=0
numbers=0
sc=0
for i in b:
    if i.islower():
        if i in c:
            vowels=vowels+1
        else:
            consonants=consonants+1
            
    elif i in "0123456789":
        numbers=numbers+1
    else:
        sc=sc+1
print(vowels,consonants,numbers,sc)

In [ ]:
#count of vowels and consonants
a="string@#2345"
b=a.lower()
c='aeiou'
vowels=0
consonants=0
numbers=0
sc=0
for i in b:
    if i.islower():
        if i in c:
            vowels=vowels+1
        else:
            consonants=consonants+1
            
    elif(i>='0' and i<='9'):
        numbers=numbers+1
    else:
        sc=sc+1
print(vowels,consonants,numbers,sc)

In [4]:
import time
start=time.time()
str1="sinrtg"
str2="string"
f=0
if len(str1)!=len(str2):
    print("False")
else:
    for i in str1:
        f=f+ord(i)
    for j in str2:
        f=f-ord(j)
if(f!=0):
    print("False")
else:
    print("True")
end=time.time()
print("The time of execution of above program is :",(end-start) * 10**3, "ms")

True
The time of execution of above program is : 0.9980201721191406 ms

In [ ]:
#second method
import time
start=time.time()
str1="sinrtg"
str2="string"
str3=""
c=0
d=0
for i in str2:
    if i not in str3:
        str3=str3+i
for i in str3:
    if(str1.count(i)==str2.count(i)):
        c=c+1
    else:
        d=d+1
if d!=0:
    print("False")
else:
    print("True")
end=time.time()
print("The time of execution of above program is :",(end-start) * 10**3, "ms")

In [ ]:
"""
Remove Consecutive Duplicates
Send Feedback
For a given string(str), remove all the consecutive duplicate characters.
Example:
Input String: "aaaa"
Expected Output: "a"

Input String: "aabbbcc"
Expected Output: "abc"
 Input Format:
The first and only line of input contains a string without any leading and trailing spaces. All the characters in the string would be in lower case.
Output Format:
The only line of output prints the updated string.
Note:
You are not required to print anything. It has already been taken care of.
Constraints:
0 <= N <= 10^6
Where N is the length of the input string.

Time Limit: 1 second
Sample Input 1:
aabccbaa
Sample Output 1:
abcba
Sample Input 2:
xxyyzxx
Sample Output 2:
xyzx

"""

a="xxyyzxx"
b="x"
for i in range(1,len(a)):
    if a[i-1]!=a[i]:
        b=b+a[i]
        
print(b)

In [ ]:
"""
Reverse Each Word
Send Feedback
Aadil has been provided with a sentence in the form of a string as a function parameter. The task is to implement a function so as to print the sentence such that each word in the sentence is reversed.
Example:
Input Sentence: "Hello, I am Aadil!"
The expected output will print, ",olleH I ma !lidaA".
Input Format:
The first and only line of input contains a string without any leading and trailing spaces. The input string represents the sentence given to Aadil.
Output Format:
The only line of output prints the sentence(string) such that each word in the sentence is reversed. 
Constraints:
0 <= N <= 10^6
Where N is the length of the input string.

Time Limit: 1 second
Sample Input 1:
Welcome to Coding Ninjas
Sample Output 1:
emocleW ot gnidoC sajniN
Sample Input 2:
Always indent your code
Sample Output 2:
syawlA tnedni ruoy edoc

"""
import time
start=time.time()
n="Welcome to Codings Ninjas"
s=""
for i in n.split():
    s=s+i[::-1]+" "
    
print(s)
end=time.time()
print("The time of execution of above program is :",(end-start) * 10**3, "ms")

In [ ]:
"""
Remove character
Send Feedback
For a given a string(str) and a character X, write a function to remove all the occurrences of X from the given string.
The input string will remain unchanged if the given character(X) doesn't exist in the input string.
Input Format:
The first line of input contains a string without any leading and trailing spaces.

The second line of input contains a character(X) without any leading and trailing spaces.
Output Format:
The only line of output prints the updated string. 
Note:
You are not required to print anything explicitly. It has already been taken care of.
Constraints:
0 <= N <= 10^6
Where N is the length of the input string.

Time Limit: 1 second
Sample Input 1:
aabccbaa
a
Sample Output 1:
bccb
Sample Input 2:
xxyyzxx
y
Sample Output 2:
xxzxx

"""
a="aabccbaa"
b='a'
s=""
for i in a:
    if i!=b:
        s=s+i
print(s)

In [ ]:
"""
Highest Occuring Character
Send Feedback
For a given a string(str), find and return the highest occurring character.
Example:
Input String: "abcdeapapqarr"
Expected Output: 'a'
Since 'a' has appeared four times in the string which happens to be the highest frequency character, the answer would be 'a'.
If there are two characters in the input string with the same frequency, return the character which comes first.
Consider:
Assume all the characters in the given string to be in lowercase always.
Input Format:
The first and only line of input contains a string without any leading and trailing spaces.
Output Format:
The only line of output prints the updated string. 
Note:
You are not required to print anything explicitly. It has already been taken care of.
Constraints:
0 <= N <= 10^6
Where N is the length of the input string.

Time Limit: 1 second
Sample Input 1:
abdefgbabfba
Sample Output 1:
b
Sample Input 2:
xy
Sample Output 2:
x

"""
a="abdefgbabfba"
s=""

for i in a:
    if i not in s:
        s=s+i
d=0
counter=a.count(s[0])
for j in range(1,len(s)):
    if(a.count(s[j])>counter):
        counter=a.count(s[j])
        d=j
print(s[d])

#second method

a="abdefgbabfba"
c=""
asci=256
count=[0]*asci
print(count)
max=-1
for i in a:
    count[ord(i)]+=1
print(count)
for i in a:
    print(count[ord(i)],end=" ")
print()
for i in a:
    if max<=count[ord(i)]:
        max=count[ord(i)]
        c=i
print(c)

In [2]:

"""
Compress the String
Send Feedback
Write a program to do basic string compression. For a character which is consecutively repeated more than once, replace consecutive duplicate occurrences with the count of repetitions.
Exmple:
If a string has 'x' repeated 5 times, replace this "xxxxx" with "x5".

The string is compressed only when the repeated character count is more than 1.
Note :
Consecutive count of every character in the input string is less than or equal to 9.
Input Format:
The first and only line of input contains a string without any leading and trailing spaces.
Output Format:
The only line of output prints the updated string.
Note:
You are not required to print anything. It has already been taken care of.
Constraints:
0 <= N <= 10^6
Where N is the length of the input string.

Time Limit: 1 second
Sample Input 1:
aaabbccdsa
Sample Output 1:
a3b2c2dsa
Sample Input 2:
aaabbcddeeeee
Sample Output 2:
a3b2cd2e5
"""
a="aaabbccdsa"
count1=1
s=""
for i in range(1,len(a)):
    if a[i]!=a[i-1]:
        s=s+a[i-1]+str(count1)
        count1=1
    else:
        count1=count1+1
s=s+a[-1]+str(count1)
print(s)
b=""
"""
b=list(s)
print(b)
for i in b:
    if i=='1':
        b.remove(i)
print(str(b))
b=list(s)
print(b)
"""
for i in s:
    if i=='1':
        pass
    else:
        b=b+i
print(b)

a3b2c2d1s1a1
a3b2c2dsa

In [ ]:
#101120022

In [6]:
#shift all 0 1 2
b="10112022"
a=list(b)
i=0
j=0
k=len(a)-1
while(i<=k):
    if a[i]=='0':
        temp=a[i]
        a[i]=a[j]
        a[j]=temp
        i=i+1
        j=j+1
    elif(a[i]=='2'):
        temp=a[i]
        a[i]=a[k]
        a[k]=temp
        k=k-1
    elif(a[i]=='1'):
        i=i+1
print("".join(a))

00111222

### 2d arrays

In [5]:
a=[[1,2,3,4],[2,3,4,5],[4,6,7,8]]
for i in a:
    print(i)

[1, 2, 3, 4]
[2, 3, 4, 5]
[4, 6, 7, 8]

In [10]:
li=[[1,2,3,4],[5,6,7,8],[9,10,11,12],[13,14,15,16]]
#2d list in list
print(li)

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12], [13, 14, 15, 16]]

In [17]:
li=[[1,2,3,4],[5,6,7,8],[9,10,11,12],[13,14,15,16]]
li2=[[1,2,3,4],[5,6,7,8],[9,10,11,12],[13,14,15,16]]
li3=[]
for i in range(len(li)):
    l4=[]
    for j in range(len(li)):
        l4.append(li[i][j]+li2[i][j])
    li3.append(l4)
print(li3)

[[2, 4, 6, 8], [10, 12, 14, 16], [18, 20, 22, 24], [26, 28, 30, 32]]

In [18]:
li=[[2,3,4,5,6],[2,2,3,4,6]]
li[1]="Nikhil"
print(li)

[[2, 3, 4, 5, 6], 'Nikhil']

In [19]:
#jagged list
li=[[1,2,3,4],[1,2,3],[1,2],[2,11]]

In [20]:
print(li)

[[1, 2, 3, 4], [1, 2, 3], [1, 2], [2, 11]]

### list comprehersion

In [30]:
#squares of every element in alist
li=[1,2,3,4]
li2=[]
for i in li:
    li2.append(i**2)
print(li2)

#method 2

li_3=[element**2 for element in li]
print(li_3)

[1, 4, 9, 16]
[1, 4, 9, 16]

In [31]:
#only even elements in list should be square
li_es=[ele**2 for ele in li if ele%2==0]
print(li_es)

[4, 16]

In [34]:
li_ms=[i**2 for i in range(1,5) if i%2==0 or i%3==0]
print(li_ms)

[4, 9, 16]

In [37]:
li_ms1=[i for i in range(1,5) if i%2==0 if i%4==0]
print(li_ms1)

[4]

In [42]:
#inter section of two lists
li_1=[1,2,3,4]
li_2=[2,3,5]
li_3=[]
for i in li_1:
    for j in li_2:
        if i==j:
            li_3.append(i)
print(li_3)
li_4=[ i for i in li_1 for j in li_2 if i==j]
print(li_4)

[2, 3]
[2, 3]

In [50]:
#syntax
#[output for loops conditions]
li=[1,2,3,4,5]
li6=[i**2 if i%2==0 else i for i in li ]
print(li6)

[1, 4, 3, 16, 5]

In [51]:
#list of list
s="Nikhil"
l=[i for i in s]
print(l)

['N', 'i', 'k', 'h', 'i', 'l']

In [56]:
li=["Nikil","ravi","karthik"]
li_2d=[[j for j in i]for i in li]
print(li_2d)

[['N', 'i', 'k', 'i', 'l'], ['r', 'a', 'v', 'i'], ['k', 'a', 'r', 't', 'h', 'i', 'k']]

In [2]:
li=["Nikil","ravi","karthik"]
li_8=[[j for j in i]for i in li]
print(li_8)

[['N', 'i', 'k', 'i', 'l'], ['r', 'a', 'v', 'i'], ['k', 'a', 'r', 't', 'h', 'i', 'k']]

In [3]:
li=[[int(input()) for i in range(3)]for j in range(3)]
print(li)

1
2
3
4
5
6
7
8
9
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [4]:
li=[[int(i) for i in input().split()]for j in range(3)]
print(li)

1 2 3 4
1 2 3 4
1 2 3 4
[[1, 2, 3, 4], [1, 2, 3, 4], [1, 2, 3, 4]]

### matrix sum

In [5]:
li_1=[[int(i) for i in input().split()[:3]] for j in range(3)]
print("The first matrix:\n")
print(li_1)
li_4=[[int(k) for k in input().split()[:3]] for l in range(3)]
print("The second matrix:\n")
print(li_4)
print("The sum of two matrices is:\n")
li_sum=[[li_1[i][j]+li_4[i][j] for j in range(len(li_1))]for i in range(len(li_4))]
print(li_sum)

1 2 3
4 5 6
7 8 9
The first matrix:

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
1 2 3
4 5 6
7 8 9
The second matrix:

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
The sum of two matrices is:

[[2, 4, 6], [8, 10, 12], [14, 16, 18]]

In [7]:
li_4=[[int(k) for k in input().split()[:3]] for l in range(3)]
print(li_4)
#it stores and prints upto 3 because of [:3]

1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
[[1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [8]:
"""
[1,2,3,4,5,6,7,8,9,10]
 2 3
 0 0
 0 1
 0 2
 [ ][ ]
"""

s=input().split()
n,m=int(s[0]),int(s[1])
b=input().split()
c=[[int(b[m*i+j]) for j in range(m)] for i in range(n)]
print(c)

2 3
1 2 3 4 5 6 6 7 8 9 10 11 12 12 1 2 12 1 1
[[1, 2, 3], [4, 5, 6]]

In [9]:
#all inputs and list inputs taken in single line
r=input().split()
n,m=int(r[0]),int(r[1])
b=r[2:]
c=[[int(b[m*i+j]) for j in range(m)] for i in range(n)]
print(c)

2 3 1 2 3 4 5 6
[[1, 2, 3], [4, 5, 6]]

In [10]:
print(n)
print(m)

2
3

### printing 2d list

In [14]:
li=[[1,2,3,4,5],[5,6,7,9],[9,10,11,12]]
print([[li[j][i] for i in range(3)]for j in range(3)])

[[1, 2, 3], [5, 6, 7], [9, 10, 11]]

In [15]:
#the above is not work for jagged list
li=[[1,2,3,4,5],[5,6,7,9],[9,10,11,12]]
for i in li:
    for j in i:
        print(j,end=" ")
    print()

1 2 3 4 5
5 6 7 9
9 10 11 12

In [17]:
li=[[1,2,3,4,5],[5,6,7,9],[9,10,11,12]]
print([[i for i in j]for j in li])

[[1, 2, 3, 4, 5], [5, 6, 7, 9], [9, 10, 11, 12]]

In [18]:
#join
'ab'.join('abcd')

'aabbabcabd'

In [22]:
'ab'.join(['1','2','3'])

'1ab2ab3'

In [23]:
li=[[1,2,3,4,5],[5,6,7,9],[9,10,11,12]]
n=3
for row in li:
    output=' '.join([str(ele) for ele in row])
    print(output)

1 2 3 4 5
5 6 7 9
9 10 11 12

In [41]:
"""
Row Wise Sum
Send Feedback
For a given two-dimensional integer array/list of size (N x M), find and print the sum of each of the row elements in a single line, separated by a single space.
Input Format :
The first line contains an Integer 't' which denotes the number of test cases or queries to be run. Then the test cases follow.

First line of each test case or query contains two integer values, 'N' and 'M', separated by a single space. They represent the 'rows' and 'columns' respectively, for the two-dimensional array/list.

Second line onwards, the next 'N' lines or rows represent the ith row values.

Each of the ith row constitutes 'M' column values separated by a single space.
Output Format :
For each test case, print the sum of every ith row elements in a single line separated by a single space.

Output for every test case will be printed in a seperate line.
Constraints :
1 <= t <= 10^2
0 <= N <= 10^3
0 <= M <= 10^3
Time Limit: 1sec
Sample Input 1:
1
4 2 
1 2 
3 4 
5 6 
7 8
Sample Output 1:
3 7 11 15 
Sample Input 2:
2
2 5 
4 5 3 2 6 
7 5 3 8 9
4 4
1 2 3 4
9 8 7 6
3 4 5 6
-1 1 -10 5
Sample Output 2:
20 32 
10 30 18 -5 

"""
n=int(input())
for i in range(n):
    s=input().split()
    r=s[2:]
    m=int(s[1])
    li=[[int(r[m*i+j]) for j in range(int(s[1]))]for i in range(int(s[0]))]
    for i in li:
        output=[int(ele) for ele in i]
        print(sum(output),end=" ")

1
4 2 1 2 3 4 5 6 7 8
3 7 11 15

In [5]:
a=[[1,2,3],[4,5,6],[4,5,6]]
b=[]
for i in a:
    output=sum([j for j in i])
    b.append(output)

print(b.index(max(b)))

1

In [8]:
a=[[1,2,3],[4,5,6],[4,5,6]]
b=[]
for i in range(3):
    s=0
    for j in range(3):
        s=s+a[j][i]
    b.append(s)
        
print(b)
print(b.index(max(b)))

[9, 12, 15]
2

In [9]:
def lar_col_sum(li):
    n=len(li)
    m=len(li[0])
    maxsum=-1
    maxcolindex=-1
    for j in range(m):
        s=0
        for i in range(n):
            s=s+li[i][j]
        if s>maxsum:
            maxcolindex=j
            maxsum=s
    return maxsum,maxcolindex

li=[[1,2,3,4],[8,7,6,5],[9,10,11,7]]
larsum,larcolindex=lar_col_sum(li)
print(larsum,larcolindex)

20 2

In [10]:
def lar_col_sum(li):
    n=len(li)
    m=len(li[0])
    maxsum=-1
    maxcolindex=-1
    for j in range(m):
        s=0
        for i in li:
            s=s+i[j]
        if s>maxsum:
            maxcolindex=j
            maxsum=s
    return maxsum,maxcolindex

li=[[1,2,3,4],[8,7,6,5],[9,10,11,7]]
larsum,larcolindex=lar_col_sum(li)
print(larsum,larcolindex)

20 2

In [12]:
inp=input().split()
r=int(inp[0])
c=int(inp[1])
li=[[int(j) for j in input().split()[:c]]for i in range(r)]
print(li)

3 4
1 2 3 4 5 6 7 8 9 10 11 12
5 6 7 8
9 10 11 12
[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [14]:
"""
Wave Print
Send Feedback
For a given two-dimensional integer array/list of size (N x M), print the array/list in a sine wave order, i.e, print the first column top to bottom, next column bottom to top and so on.
Input format :
The first line contains an Integer 't' which denotes the number of test cases or queries to be run. Then the test cases follow.

First line of each test case or query contains two integer values, 'N' and 'M', separated by a single space. They represent the 'rows' and 'columns' respectively, for the two-dimensional array/list.

Second line onwards, the next 'N' lines or rows represent the ith row values.

Each of the ith row constitutes 'M' column values separated by a single space.
Output format :
For each test case, print the elements of the two-dimensional array/list in the sine wave order in a single line, separated by a single space.

Output for every test case will be printed in a seperate line.
Constraints :
1 <= t <= 10^2
0 <= N <= 10^3
0 <= M <= 10^3
Time Limit: 1sec
Sample Input 1:
1
3 4 
1  2  3  4 
5  6  7  8 
9 10 11 12
Sample Output 1:
1 5 9 10 6 2 3 7 11 12 8 4
Sample Input 2:
2
5 3 
1 2 3 
4 5 6 
7 8 9 
10 11 12 
13 14 15
3 3
10 20 30 
40 50 60
70 80 90
Sample Output 2:
1 4 7 10 13 14 11 8 5 2 3 6 9 12 15 
10 40 70 80 50 20 30 60 90 
"""

def waveprint(li,r,c):
    for j in range(c):
        c=[]
        for i in li:
            c.append(i[j])
        if j%2==0:
            print(*c)
        else:
            print(*c[::-1])  


inp=input().split()
r=int(inp[0])
c=int(inp[1])
li=[[int(j) for j in input().split()[:c]]for i in range(r)]
waveprint(li,r,c)

3 4
1 2 3 4
5 6 7 8
9 10 11 12
1 5 9
10 6 2
3 7 11
12 8 4

In [83]:
l=[[1,2,3,4],[14,15,16,5],[13,20,17,6],[12,19,18,7]]

row=0
count=0
m=len(l[0])-1
while(row<len(l)):
    col=0
    while(col<len(l)):
        if(row==0 and count<=len(l[0])):
            print(l[row][col],end=" ")
            count=count+1
        elif(col>0 and count<2*m):
            print(l[col][len(l[0])-1],end=" ")
            count=count+1
        elif(count>=2*m and count<=3*m):
            print(l[len(l[0])-1][m-col-1],end=" ")
            count=count+1
        col=col+1
    
    row=row+1

1 2 3 4 5 6 7 18 19 12

In [146]:
a=[[1,2,3,4],[14,15,16,5],[13,20,17,6],[12,19,18,7]]
m=len(a)
n=len(a[0])
k=0;l=0
while(k<m and l<n):
    for i in range(l,n):
        print(a[k][i],end=" ")
    k=k+1
    for i in range(k,m):
        print(a[i][n-1],end=" ")
    n=n-1
    if(k<m):
        for i in range(n-1,(l-1),-1):

            print(a[m-1][i],end=" ")
        m=m-1
    if(l<n):
        for i in range(m-1,k-1,-1):
            print(a[i][l],end=" ")
        l=l+1

1 2 3 4 5 6 7 18 19 12 13 14 15 16 17 20

In [147]:
a="string"
print('a'.join(a))

sataraianag

### Tuples

In [148]:
#ordered
a=(1,2)
print(type(a))

<class 'tuple'>

In [151]:
e=1,2
print(e)
type(e)

(1, 2)

tuple

In [152]:
b,c=3,4
print(b,c)

3 4

### Access elements

In [153]:
e[1]

2

In [154]:
e[0]

1

In [155]:
e[-1]

2

In [156]:
#tuples are immutable
f=(1,2,3,4)
f[0]=4

TypeError: 'tuple' object does not support item assignment

In [157]:
del f

In [158]:
print(f)

NameError: name 'f' is not defined

In [178]:
a=(1,2,3,4)
b=(5,6,7,8)

In [162]:
#for loops
for i in a:
    print(i)

1
2
3
4

In [163]:
1 in a

True

In [164]:
8 in a

False

In [165]:
len(a)

4

In [166]:
c=a+b

In [167]:
print(c)

(1, 2, 3, 4, 5, 6, 7, 8)

In [168]:
d=(a,b)

In [169]:
print(d)

((1, 2, 3, 4), (5, 6, 7, 8))

In [179]:
#for repeation
e=a*2
print(e)

(1, 2, 3, 4, 1, 2, 3, 4)

In [180]:
max(a)

4

In [182]:
a2=(1,2,(1,2))
min(a2)

TypeError: '<' not supported between instances of 'tuple' and 'int'

In [184]:
a3=(1,2,3,4,0.5)
min(a3)

0.5

In [185]:
#list to tuple
l=[1,2,3,4]
tuple(l)

(1, 2, 3, 4)

In [189]:
a=1,2
b=(4,5)
d=(a,b)
print(d)

((1, 2), (4, 5))

In [190]:
a=1,2
b=(4,5)
d=(a,b)
print(d[0])

(1, 2)

In [194]:
def sum2(a,b,*more):
    print(a)
    print(b)
    print(more)
sum2(1,2,4,5,6,7,8)

1
2
(4, 5, 6, 7, 8)

In [195]:
def sum2(a,b,*more):
    print(a)
    print(b)
    print(more)
    ans=a+b
    for i in more:
        ans=ans+i
    return ans
sum2(1,2,4,5,6,7,8)

1
2
(4, 5, 6, 7, 8)

33

In [196]:
def sum_deff(a,b):
    return a+b,a-b
sum_deff(4,1)

(5, 3)

In [199]:
d,e=sum_deff(5,4)
print(d)
print(e)

9
1

### Dictionary

In [1]:
a={}
type(a)

dict

In [43]:
a={"nikhil":1,"nikhil":2,"nikhil":4}

In [44]:
a

{'nikhil': 4}

In [9]:
b=a.copy() #another dictinary

In [10]:
b

{'nikhil': 2}

In [ ]:
##creating dictonaries

In [11]:
c=dict([("the",3),("a",10),(2,3)])
print(c)

{'the': 3, 'a': 10, 2: 3}

In [12]:
e=dict.fromkeys(["abc",32,4])

In [13]:
e

{'abc': None, 32: None, 4: None}

In [17]:
e=dict.fromkeys(["abc",32,4],10)
print(e)

{'abc': 10, 32: 10, 4: 10}

In [19]:
z={1:2,3:4,"list":[1,23],"dict":{1:2}}
print(z)

{1: 2, 3: 4, 'list': [1, 23], 'dict': {1: 2}}

In [32]:
z=dict([(1,2),('list',25)])
print(z)

{1: 2, 'list': 25}

In [42]:
z={1:2,3:4,"list":[1,23],"dict":{1:2}}
print(z.get('list'))
print(z["list"])
print(z.get(1))

[1, 23]
[1, 23]
2

In [46]:
print(z.get('li'))

None

In [48]:
#if the value is not present
print(z.get('li',0))
#it will return the associated value with key if the key is present otherwise the second argument returned

0

In [50]:
z.keys()

dict_keys([1, 3, 'list', 'dict'])

In [51]:
z.values()

dict_values([2, 4, [1, 23], {1: 2}])

In [52]:
z.items()
#list of tuples

dict_items([(1, 2), (3, 4), ('list', [1, 23]), ('dict', {1: 2})])

In [53]:
z={1:2,3:4,"list":[1,23],"dict":{1:2}}
for i in z:
    print(i)
#it print all the keys

1
3
list
dict

In [55]:
z={1:2,3:4,"list":[1,23],"dict":{1:2}}
for i in z:
    print(i,z[i])
#it print all the keys with values

1 2
3 4
list [1, 23]
dict {1: 2}

In [57]:
for i in z.values():
    print(i)
#it prints all the values

2
4
[1, 23]
{1: 2}

In [58]:
#check if the key is exist or not(only keys)
z={1:2,3:4,"list":[1,23],"dict":{1:2}}
"list" in z

True

In [59]:
"li" in z

False

In [62]:
#i want to add (tuple name)key to dictonary
z['tuple']=12
print(z)

{1: 2, 3: 4, 'list': [1, 23], 'dict': {1: 2}, 'tuple': 12}

In [63]:
#updating data
z['tuple']=13
print(z)

{1: 2, 3: 4, 'list': [1, 23], 'dict': {1: 2}, 'tuple': 13}

In [64]:
#update function
a={1:2,8:4,3:6}
b={3:5,'the':4,2:100}
a.update(b)
print(a)
#it update values in a if the key is common and add keys from b that are not present in a

{1: 2, 8: 4, 3: 5, 'the': 4, 2: 100}

In [65]:
#remove data
#pop(key)
a.pop(2)
print(a)

{1: 2, 8: 4, 3: 5, 'the': 4}

In [66]:
del a[1]
print(a)

{8: 4, 3: 5, 'the': 4}

In [67]:
#to delete all the key but ditinary will be there
#a.clear()
v={1:2,3:4}
v.clear()
print(v)

{}

In [69]:
#to delete dictinary also
del v
print(v)

NameError: name 'v' is not defined

In [85]:
#print all word with frequency k
"""
this is a word string having many many words
 1    1 1  1      1      1     2   2     1
 print every with frequency 2
 means many should print
"""
lq="this is the word string having many many word"
k=2
words=lq.split()
d={}
for w in words:
    d[w]=d[w]+1

KeyError: 'this'

In [88]:
lq="this is the word string having many many word"
k=2
words=lq.split()
d={}
for w in words:
    if w in d:
        d[w]=d[w]+1
    else:
        d[w]=1
print(d)

{'this': 1, 'is': 1, 'the': 1, 'word': 2, 'string': 1, 'having': 1, 'many': 2}

In [94]:
lq="this is the word string having many many word"
k=2
words=lq.split()
d={}
for w in words:
    if w in d:
        d[w]=d[w]+1
    else:
        d[w]=1
for i in d:
    if d[i]==k:
        print(i,d[i])
print("Method !!")
for i in d.keys():
    if d[i]==k:
        print(i,d[i])

word 2
many 2
Method !!
word 2
many 2

In [95]:
lq="this is the word string having many many word"
k=2
words=lq.split()
d={}
for w in words:
    d[w]=d.get(w,0)+1
for i in d:
    if d[i]==k:
        print(i,d[i])

word 2
many 2

In [103]:
"""
Maximum Frequency Number
Send Feedback
You are given an array of integers that contain numbers in random order. Write a program to find and return the number which occurs the maximum times in the given input.
If two or more elements contend for the maximum frequency, return the element which occurs in the array first.
Input Format:
The first line of input contains an integer, that denotes the value of the size of the array. Let us denote it with the symbol N.
The following line contains N space separated integers, that denote the value of the elements of the array.
Output Format :
The first and only line of output contains most frequent element in the given array.
Constraints:
0 <= N <= 10^8
Time Limit: 1 sec
Sample Input 1 :
13
2 12 2 11 12 2 1 2 2 11 12 2 6 
Sample Output 1 :
2
Sample Input 2 :
3
1 4 5
Sample Output 2 :
1
"""
a=int(input())
l=[i for i in input().split()[:a]]
d={}
for i in l:
    d[i]=d.get(i,0)+1
print(d)
maximum=0
key=0
for i in d.keys():
    if d[i]>maximum:
        maximum=d[i]
        key=i
print(key,d[key])

13
2 12 2 11 12 2 1 2 2 11 12 2 6
{'2': 6, '12': 3, '11': 2, '1': 1, '6': 1}
2 6

In [107]:

d={}
d["this"]=0
d["this"]=d["this"]+1
print(d)

{'this': 1}

In [115]:
"""
Different Names
Send Feedback
In Little Flowers Public School, there are many students with same first names. You are given a task to find the students with same names. You will be given a string comprising of all the names of students and you have to tell the name and count of those students having same. If all the names are unique, print -1 instead.
Note: We don't have to mention names whose frequency is 1.
Input Format:
The only line of input will have a string ‘str’ with space separated first names of students.
Output Format:
Print the names of students along with their count if they are repeating. If no name is repeating, print -1
Constraints:
1 <= |str| <= 10^5
Time Limit: 1 second
Sample Input 1:
Abhishek harshit Ayush harshit Ayush Iti Deepak Ayush Iti
Sample Output 1:
harshit 2
Ayush 3
Iti 2
Sample Input 2:
Abhishek Harshit Ayush Iti
Sample Output:
-1
"""
def dica(qw):
    rw={}
    for i in qw:
        rw[i]=rw.get(i,0)+1
    count=0
    for i in rw:
        if rw[i]>1:
            count=count+1
    if count==0:
        return -1
    else:
        return rw

qw=[i for i in input().split()]
sw=dica(qw)
print(sw)

Abhishek Harshit Ayush Iti
-1

### sets

In [116]:
#sets are collection of data
#which is not ordered
#store some ting unique
a={1,2,3,4,4}
print(a)

{1, 2, 3, 4}

In [124]:
b={'abc','apple',23}
print(b)
type(b)

{'apple', 'abc', 23}

set

In [126]:
'abc' in b

True

In [127]:
21 in b

False

In [129]:
for i in b:
    print(i)

apple
abc
23

In [130]:
len(b)

3

In [131]:
b.add('temp')

In [132]:
print(b)

{'apple', 'temp', 'abc', 23}

In [135]:
vf={1,2,3,'jui',23}
b.update(vf)
print(b)

{'apple', 1, 2, 3, 'temp', 'jui', 23, 'abc'}

In [136]:
b.remove('temp')

In [137]:
print(b)

{'apple', 1, 2, 3, 'jui', 23, 'abc'}

In [138]:
b.discard(23)

In [139]:
print(b)

{'apple', 1, 2, 3, 'jui', 'abc'}

In [140]:
print(b.discard('rrr'))

None

In [143]:
#one element will be remove we cant say(randomy deleted)
b.pop()
print(b)

{3, 'jui', 'abc'}

In [146]:
s={}
s.add(4)
print(s)
#it gives error because it dosent know wheather it is set or dictinary

AttributeError: 'dict' object has no attribute 'add'

### set functions

In [17]:
a={1,2,3,4}
b={3,4,5,6}
a.intersection(b)#repeated

{3, 4}

In [2]:
a.union(b)#unique

{1, 2, 3, 4, 5, 6}

In [3]:
#everu thing that is in a not in b(a-b)
a.difference(b)

{1, 2}

In [4]:
b.difference(a)

{5, 6}

In [6]:
#symentric difference
#the union -intersection(either in a or in b but not in both)
a.symmetric_difference(b)

{1, 2, 5, 6}

In [7]:
a.intersection_update(b)

In [8]:
a

{3, 4}

In [12]:
a.difference_update(b)

In [13]:
a

{1, 2}

In [15]:
a.symmetric_difference_update(b)

In [16]:
a

{1, 2, 5, 6}

In [18]:
a,b

({1, 2, 3, 4}, {3, 4, 5, 6})

In [19]:
a.issubset(b)

False

In [20]:
b.issubset(a)

False

In [21]:
c={3,4}
c.issubset(a)

True

In [23]:
#super set
a.issuperset(c)

True

In [25]:
a.isdisjoint(b)

False

In [26]:
d={7,8}
a.isdisjoint(d)#not present in a

True

In [29]:
#sum of all unique numbers
"""
[1,2,1,3,2,4,3]
1234
"""
a=sum(set([1,2,1,2,3,4,4]))
print(a)

10

In [34]:
def sumUnique(lio):
    si=set()#create empty set
    for i in lio:
        si.add(i)
    sumv=0
    for i in si:
        sumv=sumv+i
    return sumv
sumUnique([1,2,4,5,6,6,6,6,6])

18

In [66]:
"""
First non repeating character
Send Feedback
In a given string, find the first non-repeating character .You are given a string, that can contain repeating characters. Your task is to return the first character in this string that does not repeat. i.e., occurs exactly once. The string will contain characters only from English alphabet set, i.e., ('A' - 'Z') and ('a' - 'z'). If there is no non-repeating character print the first character of string.
Input Format :
Line 1 : A String , as mentioned above.
Output Format :
First non-repeating character
Sample Input 1 :
aDcadhc
Sample Output 1:
D
Sample Input 2 :
gdhIgHada
Sample Output 2 :
h

"""

a="gdhIgHada"
b={}
for i in a:
    b[i]=b.get(i,0)+1
print(b)
for i in b.keys():
    if b[i]==1:
        print(i)
        break

{'g': 2, 'd': 2, 'h': 1, 'I': 1, 'H': 1, 'a': 2}
h

In [74]:
"""
Extract Unique characters
Send Feedback
Given a string S, you need to remove all the duplicates. That means, the output string should contain each character only once. The respective order of characters should remain same, as in the input string.
Input format:
The first and only line of input contains a string, that denotes the value of S.
Output format :
The first and only line of output contains the updated string, as described in the task.
Constraints :
0 <= Length of S <= 10^8
Time Limit: 1 sec
Sample Input 1 :
ababacd
Sample Output 1 :
abcd
Sample Input 2 :
abcde
Sample Output 2 :
abcde

"""
a="ababacd"
ans=''
d={}
for i in a:
    if i not in d:
        ans=ans+i
        d[i]=True
print(d)
print(ans)

{'a': True, 'b': True, 'c': True, 'd': True}
abcd

In [75]:
#string formating functions
#string formating
s1="python"
s2="java"
s3="sql"
print("{0},{1},{2} are amazing langauges".format(s1,s2,s3))
print(f"{s1},{s2},{s3} are amazing langauges")

python,java,sql are amazing langauges
python,java,sql are amazing langauges

In [76]:
print('I\'am Nikhil Vickey from Nikhil\'s')

I'am Nikhil Vickey from Nikhil's

In [ ]:
"""

         Int  Float  Bool  complex  String

 Int     yes  yes    yes    yes     yes

 Float   yes  yes    yes    yes     yes
 
 Bool    yes  yes   yes     yes     yes
  
 complex No   No    yes     yes     yes
 
 
 
 String to int     string to float  string to bool  stringto complex
 
 int->int     y     int->float    y   int->bool    y     int->complex   y
 
 float->int   n     float->float  y   float->bool  y     float->complex  y
 
 bool->int    n     bool->float   n   bool->bool   y     bool->complex   n
 
 complex->int n     complex->float n  complex->bool y    complex->complex y
 
 string->int  n    string->float  n  string->bool   y   string->complex   n
 
 
 
 
 for string only convertable to int or float weather the same data
 type lie in quotes

""""