### Strings Functions

In [ ]:
replace()
title()
capitalize()
swapcase()
count()
find()
split()
strip()
lstrip()
rstrip()
upper()
lower()
isupper()
islower()
index()
sorted()
min()
max()

In [134]:
a="hi this is nikhil"
print(a.find(" ",4))
print(a.replace("i","K"))
print(a.title())
print(a.capitalize())
print(a.split())
print(a.upper())
print(a.lower())
print(a.swapcase())
print(a.count('i'))
print(a[0].isupper())
print(a[0].islower())
print(a.index('i'))
b="  hi this is nikhil   "
print(b.strip())
print(b.rstrip())
print(b.lstrip())
print(sorted(a))
c=''.join(sorted(a))
print(c.strip())
print(max(a))
print(min(a))#it prints space
c=1234

7
hK thKs Ks nKkhKl
Hi This Is Nikhil
Hi this is nikhil
['hi', 'this', 'is', 'nikhil']
HI THIS IS NIKHIL
hi this is nikhil
HI THIS IS NIKHIL
5
False
True
1
hi this is nikhil
  hi this is nikhil
hi this is nikhil
[' ', ' ', ' ', 'h', 'h', 'h', 'i', 'i', 'i', 'i', 'i', 'k', 'l', 'n', 's', 's', 't']
hhhiiiiiklnsst
t

In [8]:
s="strinigs is i"
b=s.replace('i','s')
print(b)
#how many time the values should be replaced in string (bydefault all)
c=s.replace('i','s',2)#the value replaces only two times
print(c)

strsnsgs ss s
strsnsgs is i

### List Operations

In [ ]:
insert()
index()
append()
extend()
reverse()
sort()
sorted()
pop()
del()
remove()
sort()
sorted()
count()
copy()
clear()
min()
max()
sum()

In [53]:
a=['N','i','k','h','i','l']
print(a.index('i'))
print(a.index('i',2))
a.insert(3,'M')
print(a)
a.append(a)
print(a)
print()
for i in a:
    print(i,end=" ")
print()
#here the dot indicates that the list contains a reference to itself .it just aviod an infinite recursion during the print
print()
b=['N','i','k','h','i','l']
b.extend(b)
print(b)
b=['N','i','k','h','i','l']
b.reverse()
print(b)
b.sort(reverse=True)
print(b)
c=sorted(b)
print(c)
print(c.count('i'))
d=c.copy()
print(d)
d.pop(0)
print(d)
d.remove('i')
print(d)
del d[0:2]
print(d)
d.clear()
print(d)
a=[1,2,3,4]
print(max(a))
print(min(a))
print(sum(a))
##to reverse
print(list(reversed(a)))

1
4
['N', 'i', 'k', 'M', 'h', 'i', 'l']
['N', 'i', 'k', 'M', 'h', 'i', 'l', [...]]

N i k M h i l ['N', 'i', 'k', 'M', 'h', 'i', 'l', [...]]

['N', 'i', 'k', 'h', 'i', 'l', 'N', 'i', 'k', 'h', 'i', 'l']
['l', 'i', 'h', 'k', 'i', 'N']
['l', 'k', 'i', 'i', 'h', 'N']
['N', 'h', 'i', 'i', 'k', 'l']
2
['N', 'h', 'i', 'i', 'k', 'l']
['h', 'i', 'i', 'k', 'l']
['h', 'i', 'k', 'l']
['k', 'l']
[]
4
1
10
[4, 3, 2, 1]

### Dictionaries

In [ ]:
copy()
keys()
clear()
fromkeys()
items()
values()
get()
pop()
update()
setdefault()
popitem()

In [111]:
a={}
type(a)

dict

In [34]:
a={1:2,'name':'Nikhil',2:4}
print(a)
print(a.keys())
print(a.values())
print(a.items())
print(a.get('name'))
b=a.copy()
print(b)
a.pop(1)
print(a)
a.popitem()#deletes last item
print(a)
a=dict([(1,2),(3,4),('name','nikhil')])
print(a)
#inserting into dictonary
a['rollno']=557
print(a)
#adding multiple keys to dictinary(default values having null)
e=dict.fromkeys([1,'name',2,'rollno'])
print(e)
f=dict.fromkeys([1,'name',2,'rollno'],10)
print(f)
#adding value to item
e[1]='1'
print(e)
e.update(f)# all the exiting data over rided
print(e)
e.clear()#it clears all the data in dictionary
print(e)
del e #it deletes the complete dictionary 
print(e)

{1: 2, 'name': 'Nikhil', 2: 4}
dict_keys([1, 'name', 2])
dict_values([2, 'Nikhil', 4])
dict_items([(1, 2), ('name', 'Nikhil'), (2, 4)])
Nikhil
{1: 2, 'name': 'Nikhil', 2: 4}
{'name': 'Nikhil', 2: 4}
{'name': 'Nikhil'}
{1: 2, 3: 4, 'name': 'nikhil'}
{1: 2, 3: 4, 'name': 'nikhil', 'rollno': 557}
{1: None, 'name': None, 2: None, 'rollno': None}
{1: 10, 'name': 10, 2: 10, 'rollno': 10}
{1: '1', 'name': None, 2: None, 'rollno': None}
{1: 10, 'name': 10, 2: 10, 'rollno': 10}
{}

NameError: name 'e' is not defined

###  tuples

In [30]:
a=()
print(type(a))

<class 'tuple'>

In [36]:
#if we want to pass more no of parameters we use *
def a(c,d,*e):
    print(c)
    print(d)
    print(e)
#main function
a(1,2,3,3,4,4,4,4)

1
2
(3, 3, 4, 4, 4, 4)

In [44]:
a,b=(1,2)
print(a)
print(b)
a=(1,2,3,44,5,5)
print(len(a))
print(max(a))
print(min(a))
print(sorted(a))

1
2
6
44
1
[1, 2, 3, 5, 5, 44]

# Sets

In [ ]:
set operations
add()
clear()
pop()
union()
update()
discard()
issuperset()
issubset()
intersection()
difference()
isdisjoint()
setdiscard()
copy()
symmetric_difference()
difference_update()
symmetric_difference_update()
intersection_update()
max()
min()

In [56]:
#to create empty set
s=set()
print(s)
print(type(s))

set()
<class 'set'>

In [70]:
s.add(1)
print(s)

{1}

In [83]:
s3={1,2,3,4,5,6,7}
s4={2,2,3,5,8,1}
s3.union(s4)
## return all the elements from two sets with out repetable elements

{1, 2, 3, 4, 5, 6, 7, 8}

In [82]:
s1={1,2,3,4,5,6,7}
s2={1,2,3,5,8,1}
s1.intersection(s2)
## return duplicate elements from two sets

{1, 2, 3, 5}

In [88]:
s1={1,2,3,4,5,6,7}
s2={1,2,3,5,8,1}
print(s1.difference(s2))
print(s2.difference(s1))
#it returns set with elements that are not present in another set

{4, 6, 7}
{8}

In [90]:
s6={1,2,3,5,8,1}
#copy of set
s7=s6.copy()
print(s7)

{1, 2, 3, 5, 8}

In [99]:
a={1,2,3,4}
b={3,4,5,6}
#symentric difference
#the union -intersection(either in a or in b but not in both)
a.symmetric_difference(b)

{1, 2, 5, 6}

In [105]:
c={1,2,3,4}
d={3,4,5,6}

c.intersection_update(d)

#the c will be update after intersection of both sets
print(c)

{3, 4}

In [106]:
c={1,2,3,4}
d={3,4,5,6}

c.symmetric_difference_update(d)

#the c set will be updated the result of symmetric_difference of both sets
print(c)

{1, 2, 5, 6}

In [108]:
c={1,2,3,4}
d={3,4,5,6}

c.difference_update(d)
#the c set will be updated the result of difference_update of both sets
print(c)

{1, 2}

In [109]:
c={1,2,3,4}
d={3,4}
d.issubset(c)

True

In [111]:
c={1,2,3,4}
d={3,4}
c.issuperset(d)

True

In [120]:
a={1,2,3,4}
d={7,8}
a.isdisjoint(d)#the total elements in d set should not present in a if any one element present it returns false

True

In [125]:
#pop():it removes random element in set
a={5,4,2,3,4}
a.pop()

2

In [135]:
a={1,2,3,5}
f={1,2,3,'jui',23}
a.update(f)
#it will added to list which are not present
print(a)
a.remove(23)
print(a)
a.discard(3)
print(a)
a.clear()
print(a)
del a
print(a)

{1, 2, 3, 5, 23, 'jui'}
{1, 2, 3, 5, 'jui'}
{1, 2, 5, 'jui'}
set()

NameError: name 'a' is not defined

In [140]:
a={1,2,3,5}
print(max(a))
print(min(a))
print(sorted(a))

5
1
[1, 2, 3, 5]

In [143]:
## the difference between discard and remove method set is if the element is not present in set then remove() will raise the error
a={1,2,3,4,5}
a.remove(5)
print(a)
a.remove(8)
print(a)

{1, 2, 3, 4}

KeyError: 8

In [146]:
a={1,2,3,4,5}
a.discard(8)
print(a)
#if the elements not preset then it returns the list again with out any error

{1, 2, 3, 4, 5}